templates/SST_Core/Genserv/SensorService/wsdl/v1.2/SensorService/Wsdl/SensorServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://esa.ssa/ssensor/1.2/SensorServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gallres="http://esa.ssa/ssensor/1.2/GetSensorIdsResponseType" xmlns:gallreq="http://esa.ssa/ssensor/1.2/GetSensorIdsRequestType" xmlns:gconres="http://esa.ssa/ssensor/1.2/GetSensorResponseType" xmlns:gconreq="http://esa.ssa/ssensor/1.2/GetSensorRequestType" xmlns:crres="http://esa.ssa/ssensor/1.2/CreateSensorResponseType" xmlns:crreq="http://esa.ssa/ssensor/1.2/CreateSensorRequestType" xmlns:upres="http://esa.ssa/ssensor/1.2/UpdateSensorResponseType" xmlns:upreq="http://esa.ssa/ssensor/1.2/UpdateSensorRequestType" xmlns:deres="http://esa.ssa/ssensor/1.2/DeleteSensorResponseType" xmlns:dereq="http://esa.ssa/ssensor/1.2/DeleteSensorRequestType" xmlns:gbires="http://esa.ssa/ssensor/1.2/GetBiasesResponseType" xmlns:gbireq="http://esa.ssa/ssensor/1.2/GetBiasesRequestType" xmlns:sebres="http://esa.ssa/ssensor/1.2/SetBiasesResponseType" xmlns:sebreq="http://esa.ssa/ssensor/1.2/SetBiasesRequestType" xmlns:susres="http://esa.ssa/ssensor/1.2/SubscribeResponseType" xmlns:susreq="http://esa.ssa/ssensor/1.2/SubscribeRequestType" xmlns:usures="http://esa.ssa/ssensor/1.2/UnsubscribeResponseType" xmlns:usureq="http://esa.ssa/ssensor/1.2/UnsubscribeRequestType" 
xmlns:gactres="http://esa.ssa/ssensor/1.2/GetActiveSensorsResponseType" xmlns:gactreq="http://esa.ssa/ssensor/1.2/GetActiveSensorsRequestType" xmlns:sactres="http://esa.ssa/ssensor/1.2/SetActiveSensorsResponseType" xmlns:sactreq="http://esa.ssa/ssensor/1.2/SetActiveSensorsRequestType" 
xmlns:scom="http://esa.ssa/ssensor/1.2/ssensor" name="ssensor" targetNamespace="http://esa.ssa/ssensor/1.2/SensorServiceSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="http://esa.ssa/ssensor/1.2/" version="1.1">
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/ssensor" schemaLocation="../CommonTypes/sensorcommontypes.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetSensorIdsResponseType" schemaLocation="../Schemas/GetSensorIdsResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetSensorIdsRequestType" schemaLocation="../Schemas/GetSensorIdsRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetSensorResponseType" schemaLocation="../Schemas/GetSensorResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetSensorRequestType" schemaLocation="../Schemas/GetSensorRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/CreateSensorResponseType" schemaLocation="../Schemas/CreateSensorResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/CreateSensorRequestType" schemaLocation="../Schemas/CreateSensorRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/DeleteSensorResponseType" schemaLocation="../Schemas/DeleteSensorResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/DeleteSensorRequestType" schemaLocation="../Schemas/DeleteSensorRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/UpdateSensorResponseType" schemaLocation="../Schemas/UpdateSensorResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/UpdateSensorRequestType" schemaLocation="../Schemas/UpdateSensorRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetBiasesResponseType" schemaLocation="../Schemas/GetBiasesResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetBiasesRequestType" schemaLocation="../Schemas/GetBiasesRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/SetBiasesResponseType" schemaLocation="../Schemas/SetBiasesResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/SetBiasesRequestType" schemaLocation="../Schemas/SetBiasesRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/SubscribeResponseType" schemaLocation="../Schemas/SubscribeResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/SubscribeRequestType" schemaLocation="../Schemas/SubscribeRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/UnsubscribeResponseType" schemaLocation="../Schemas/UnsubscribeResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/UnsubscribeRequestType" schemaLocation="../Schemas/UnsubscribeRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetActiveSensorsResponseType" schemaLocation="../Schemas/GetActiveSensorsResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/GetActiveSensorsRequestType" schemaLocation="../Schemas/GetActiveSensorsRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/SetActiveSensorsResponseType" schemaLocation="../Schemas/SetActiveSensorsResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/SetActiveSensorsRequestType" schemaLocation="../Schemas/SetActiveSensorsRequestType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SensorServiceFaultMessageType">
		<wsdl:part name="fault" element="scom:SENSORErrorType"/>
	</wsdl:message>
	<wsdl:message name="GetSensorIdsRequestMessageType">
		<wsdl:part name="in" element="gallreq:GetSensorIdsRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetSensorIdsResponseMessageType">
		<wsdl:part name="out" element="gallres:GetSensorIdsResponseType"/>
	</wsdl:message>
	<wsdl:message name="GetSensorRequestMessageType">
		<wsdl:part name="in" element="gconreq:GetSensorRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetSensorResponseMessageType">
		<wsdl:part name="out" element="gconres:GetSensorResponseType"/>
	</wsdl:message>
	<wsdl:message name="GetActiveSensorsRequestMessageType">
		<wsdl:part name="in" element="gactreq:GetActiveSensorsRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetActiveSensorsResponseMessageType">
		<wsdl:part name="out" element="gactres:GetActiveSensorsResponseType"/>
	</wsdl:message>
	<wsdl:message name="SetActiveSensorsRequestMessageType">
		<wsdl:part name="in" element="sactreq:SetActiveSensorsRequestType"/>
	</wsdl:message>
	<wsdl:message name="SetActiveSensorsResponseMessageType">
		<wsdl:part name="out" element="sactres:SetActiveSensorsResponseType"/>
	</wsdl:message>
	<wsdl:message name="CreateSensorRequestMessageType">
		<wsdl:part name="in" element="crreq:CreateSensorRequestType"/>
	</wsdl:message>
	<wsdl:message name="CreateSensorResponseMessageType">
		<wsdl:part name="out" element="crres:CreateSensorResponseType"/>
	</wsdl:message>
	<wsdl:message name="DeleteSensorRequestMessageType">
		<wsdl:part name="in" element="dereq:DeleteSensorRequestType"/>
	</wsdl:message>
	<wsdl:message name="DeleteSensorResponseMessageType">
		<wsdl:part name="out" element="deres:DeleteSensorResponseType"/>
	</wsdl:message>
	<wsdl:message name="UpdateSensorRequestMessageType">
		<wsdl:part name="in" element="upreq:UpdateSensorRequestType"/>
	</wsdl:message>
	<wsdl:message name="UpdateSensorResponseMessageType">
		<wsdl:part name="out" element="upres:UpdateSensorResponseType"/>
	</wsdl:message>
	<wsdl:message name="GetBiasesRequestMessageType">
		<wsdl:part name="in" element="gbireq:GetBiasesRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetBiasesResponseMessageType">
		<wsdl:part name="out" element="gbires:GetBiasesResponseType"/>
	</wsdl:message>
	<wsdl:message name="SetBiasesRequestMessageType">
		<wsdl:part name="in" element="sebreq:SetBiasesRequestType"/>
	</wsdl:message>
	<wsdl:message name="SetBiasesResponseMessageType">
		<wsdl:part name="out" element="sebres:SetBiasesResponseType"/>
	</wsdl:message>
	<wsdl:message name="SubscribeRequestMessageType">
		<wsdl:part name="in" element="susreq:SubscribeRequestType"/>
	</wsdl:message>
	<wsdl:message name="SubscribeResponseMessageType">
		<wsdl:part name="out" element="susres:SubscribeResponseType"/>
	</wsdl:message>
	<wsdl:message name="UnsubscribeRequestMessageType">
		<wsdl:part name="in" element="usureq:UnsubscribeRequestType"/>
	</wsdl:message>
	<wsdl:message name="UnsubscribeResponseMessageType">
		<wsdl:part name="out" element="usures:UnsubscribeResponseType"/>
	</wsdl:message>
	<wsdl:portType name="SensorServiceInterface">
		<wsdl:operation name="getSensorIds">
			<wsdl:input message="tns:GetSensorIdsRequestMessageType"/>
			<wsdl:output message="tns:GetSensorIdsResponseMessageType"/>
			<wsdl:fault name="getSensorIdsFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="getSensor">
			<wsdl:input message="tns:GetSensorRequestMessageType"/>
			<wsdl:output message="tns:GetSensorResponseMessageType"/>
			<wsdl:fault name="getSensorFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="getActiveSensors">
			<wsdl:input message="tns:GetActiveSensorsRequestMessageType"/>
			<wsdl:output message="tns:GetActiveSensorsResponseMessageType"/>
			<wsdl:fault name="getActiveSensorsFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="setActiveSensors">
			<wsdl:input message="tns:SetActiveSensorsRequestMessageType"/>
			<wsdl:output message="tns:SetActiveSensorsResponseMessageType"/>
			<wsdl:fault name="setActiveSensorsFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="createSensor">
			<wsdl:input message="tns:CreateSensorRequestMessageType"/>
			<wsdl:output message="tns:CreateSensorResponseMessageType"/>
			<wsdl:fault name="createSensorFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="deleteSensor">
			<wsdl:input message="tns:DeleteSensorRequestMessageType"/>
			<wsdl:output message="tns:DeleteSensorResponseMessageType"/>
			<wsdl:fault name="deleteSensorFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="updateSensor">
			<wsdl:input message="tns:UpdateSensorRequestMessageType"/>
			<wsdl:output message="tns:UpdateSensorResponseMessageType"/>
			<wsdl:fault name="updateSensorFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="getBiases">
			<wsdl:input message="tns:GetBiasesRequestMessageType"/>
			<wsdl:output message="tns:GetBiasesResponseMessageType"/>
			<wsdl:fault name="getBiasesFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="setBiases">
			<wsdl:input message="tns:SetBiasesRequestMessageType"/>
			<wsdl:output message="tns:SetBiasesResponseMessageType"/>
			<wsdl:fault name="setBiasesFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="subscribe">
			<wsdl:input message="tns:SubscribeRequestMessageType"/>
			<wsdl:output message="tns:SubscribeResponseMessageType"/>
			<wsdl:fault name="subscribeFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<wsdl:input message="tns:UnsubscribeRequestMessageType"/>
			<wsdl:output message="tns:UnsubscribeResponseMessageType"/>
			<wsdl:fault name="unsubscribeFault" message="tns:SensorServiceFaultMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
