templates/SST_Core/Genserv/SensorService/wsdl/v1.2/SensorService/Schemas/CreateSensorResponseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ssensor="http://esa.ssa/ssensor/1.2/ssensor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://esa.ssa/ssensor/1.2/CreateSensorResponseType" targetNamespace="http://esa.ssa/ssensor/1.2/CreateSensorResponseType">
	<xsd:import namespace="http://esa.ssa/ssensor/1.2/ssensor" schemaLocation="../CommonTypes/sensorcommontypes.xsd"/>
	<xsd:element name="CreateSensorResponseType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SensorID" type="xsd:long"/>
				<xsd:element name="ObjectResponse" type="ssensor:SENSORConfirmationType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
