templates/SST_Core/Genserv/SensorService/wsdl/v1.2/SensorService/Schemas/SetActiveSensorsRequestType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://esa.ssa/ssensor/1.2/SetActiveSensorsRequestType" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://esa.ssa/ssensor/1.2/SetActiveSensorsRequestType">
	<xsd:element name="SetActiveSensorsRequestType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SensorID" type="xsd:long" maxOccurs="unbounded"/>
				<xsd:element name="IsActive" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
