templates/commonSSTDataModel/esa/ssa/sst/common/planning/planning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://esa.ssa.sst/2.1/common/planning/"
	xmlns:cateph="http://esa.ssa.sst/2.1/catalogue/ephemeredes/"
	xmlns:com="http://esa.ssa.sst/2.1/common/"
	xmlns:compl="http://esa.ssa.sst/2.1/common/planning/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/">
	<xsd:import
		namespace="http://esa.ssa.sst/2.1/catalogue/ephemeredes/"
		schemaLocation="../../catalogue/ephemeredes/ephemeredes.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/"
		schemaLocation="../common.xsd" />
	<xsd:import schemaLocation="../../catalogue/object/object.xsd" namespace="http://esa.ssa.sst/2.1/catalogue/object/"></xsd:import>
	<xsd:simpleType name="AccuracyTargetType">
		<xsd:annotation>
			<xsd:documentation>Accuracy target</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LOW" />
			<xsd:enumeration value="MEDIUM" />
			<xsd:enumeration value="HIGH" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DateFilterType">
		<xsd:sequence>
			<xsd:element name="start" type="xsd:dateTime" />
			<xsd:element name="end" type="xsd:dateTime" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorDataType">
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:string" />
			<xsd:element name="message" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanningRequestType">
		<xsd:annotation>
			<xsd:documentation>
				Top parent object of the requests that will be returned
				for all opperations with requests involved.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestId" type="xsd:long" />
			<xsd:element name="request" type="compl:RequestType" />
			<xsd:element name="status" type="compl:RequestStatus" />
			<xsd:element name="highPriority" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestFilterType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="requester"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="deadline"
				type="compl:DateFilterType" />
			<xsd:element minOccurs="0" name="segment"
				type="com:SegmentType" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="status" type="compl:RequestStatus" />
			<xsd:element minOccurs="0" name="type"
				type="compl:RequestTypeKind" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestResponseType">
		<xsd:sequence>
			<xsd:element name="conversationID" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RequestStatus">
		<xsd:annotation>
			<xsd:documentation>Request Status</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OPEN" />
			<xsd:enumeration value="SCHEDULED" />
			<xsd:enumeration value="COMPLETE" />
			<xsd:enumeration value="CLOSED" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RequestType">
		<xsd:annotation>
			<xsd:documentation>
				The parent of the requests supported by the service:
				Tracking and Survey requests.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requester" type="xsd:string" />
			<xsd:element name="segment" type="com:SegmentType" />
			<xsd:element name="deadline" type="xsd:dateTime" />
		</xsd:sequence>
		<xsd:attribute name="responseURL" type="xsd:anyURI">
			<xsd:annotation>
				<xsd:documentation>
					The URL where the notification responses shall be
					sent. The listener shall be an endpoint implementing
					the PlanningNotificationListener interface.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="RequestTypeKind">
		<xsd:annotation>
			<xsd:documentation>Types of requests</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TRACKING" />
			<xsd:enumeration value="SURVEY" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RequestTypeList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="planningRequests" nillable="true"
				type="compl:PlanningRequestType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SurveyCategoryType">
		<xsd:annotation>
			<xsd:documentation>
				Categories available for survey requests. They are used
				to prioritize requests.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LOCAL_TASKED_SURVEY" />
			<xsd:enumeration value="NEO_CONFIRMATION_TASKED_SURVEY" />
			<xsd:enumeration value="NEO_CRITICAL_TASKED_SURVEY" />
			<xsd:enumeration value="NEO_EMERGENCY_TASKED_SURVEY" />
			<xsd:enumeration value="FRAGMENTATION_TASKED_SURVEY" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TaskedSurveyRequestType">
		<xsd:annotation>
			<xsd:documentation>
				Request for submitting planning requests for survey
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="compl:RequestType">
				<xsd:sequence>
					<xsd:element name="areaAngularSize"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="minDuration"
						type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								Minimum duration and maximum duration
								shall be included if the object accuracy
								target is not. If all elements are
								specified, then the object accuracy
								target prevails.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="maxDuration"
						type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								Minimum duration and maximum duration
								shall be included if the object accuracy
								target is not. If all elements are
								specified, then the object accuracy
								target prevails.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0"
						name="objectAccuracyTarget" type="compl:AccuracyTargetType">
						<xsd:annotation>
							<xsd:documentation>
								The object accuracy target prevails over
								the minimum and maximum duration if all
								are defined.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="orbitData"
						type="cateph:Ephemeredes" />
					<xsd:element name="category"
						type="compl:SurveyCategoryType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TrackingCategoryType">
		<xsd:annotation>
			<xsd:documentation>
				Categories available for tracking requests. They are
				used to prioritize requests.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CATALOGUE_MAINTENANCE" />
			<xsd:enumeration value="LOCAL_TRACKING" />
			<xsd:enumeration value="NEO_CONFIRMATION_TRACKING" />
			<xsd:enumeration value="NEO_CRITICAL_TRACKING" />
			<xsd:enumeration value="NEO_PHYSICAL_PROPERTIES_TRACKING" />
			<xsd:enumeration value="NEO_EMERGENCY_TRACKING" />
			<xsd:enumeration value="REENTRY_TRACKING" />
			<xsd:enumeration value="CONJUNCTION_TRACKING" />
			<xsd:enumeration value="FRAGMENTATION_TRACKING" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TrackingRequestType">
		<xsd:annotation>
			<xsd:documentation>
				Request for submitting planning requests for tracking
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="compl:RequestType">
				<xsd:sequence>
					<xsd:element name="objectId"
						type="catobj:ObjectIdType">
						<xsd:annotation>
							<xsd:documentation>
								The object id handled by ESA. It is
								required if no international object Id
								is provided
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="objectAccuracyTarget"
						type="compl:AccuracyTargetType" />
					<xsd:element name="category"
						type="compl:TrackingCategoryType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PlanningRequestStatus">
		<xsd:annotation>
			<xsd:documentation>
				It represents the status of the submitted planning
				request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OBSERVATION_NOT_FEASIBLE">
				<xsd:annotation>
					<xsd:documentation>
						The request has not observation opportunities
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PLANNED">
				<xsd:annotation>
					<xsd:documentation>
						The request has been included in a plan
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OBSERVATION_PERFORMED">
				<xsd:annotation>
					<xsd:documentation>
						The request has been successfully executed and
						the observation performed by the sensors and
						data sent to the DPC
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EXPIRED_REQUEST">
				<xsd:annotation>
					<xsd:documentation>
						The request has expired without being planned
						yet
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NO_DATA">
				<xsd:annotation>
					<xsd:documentation>
						The request has been executed but no data has
						been received by the sensors.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PlanningNotificationType">
		<xsd:annotation>
			<xsd:documentation>
				The notification sent by the Planning System to the
				service consumers indicating the status of the request
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="conversationID" type="xsd:string" />
			<xsd:element name="planningRequestStatus"
				type="compl:PlanningRequestStatus" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>