templates/SST_Core/DPC/dpc-1.7-wsdl/DPCMonitoringService/eu/esa/ssa/gen/connectivity/moag/data/data.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://eu.esa.ssa.gen.connectivity.moag/data/" xmlns:data="http://eu.esa.ssa.gen.connectivity.moag/data/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="MonitoringStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DEGRADED"/>
      <xsd:enumeration value="RUNNING"/>
      <xsd:enumeration value="STARTING"/>
      <xsd:enumeration value="STOPPED"/>
      <xsd:enumeration value="STOPPING"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MonitoringAgentType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="host" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MonitoringStatusMessageType">
    <xsd:sequence>
      <xsd:element name="agent" type="data:MonitoringAgentType"/>
      <xsd:element name="customstatus" type="xsd:string"/>
      <xsd:element name="status" type="data:MonitoringStatusType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="monitoringStatusMessageType" type="data:MonitoringStatusMessageType"/>
  <xsd:complexType name="GetStatusResponseType">
    <xsd:sequence>
      <xsd:element ref="data:monitoringStatusMessageType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getStatusRequestType" type="data:GetStatusResponseType"/>
  <xsd:complexType name="EmptyInputType"/>
  <xsd:element name="emptyInputType" type="data:EmptyInputType"/>
  <xsd:complexType name="StatusRequestInput">
    <xsd:sequence>
      <xsd:element ref="data:emptyInputType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="statusRequestInput" type="data:StatusRequestInput"/>
  <xsd:complexType name="StartRequestInput">
    <xsd:sequence>
      <xsd:element ref="data:emptyInputType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="startRequestInput" type="data:StartRequestInput"/>
  <xsd:complexType name="StopRequestInput">
    <xsd:sequence>
      <xsd:element ref="data:emptyInputType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="stopRequestInput" type="data:StopRequestInput"/>
  <xsd:complexType name="ConfigureInputType">
    <xsd:sequence>
      <xsd:element name="parameterName" type="xsd:string"/>
      <xsd:element name="parameterValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="configureInputType" type="data:ConfigureInputType"/>
  <xsd:complexType name="ConfigureRequestType">
    <xsd:sequence>
      <xsd:element ref="data:configureInputType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="configureRequestType" type="data:ConfigureRequestType"/>
</xsd:schema>