templates/SST_Core/DPC/dpc-1.7-wsdl/SSTDataProcessingInterface/Wsdl/SSTDataProcessingServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssa="http://ssa.esa.int/common/" xmlns:tns="http://esa.ssa/dpc/2.1/SSTDataProcessingServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sobdreq="http://esa.ssa/dpc/2.1/SubmitObservationDataRequestType" xmlns:sobdres="http://esa.ssa/dpc/2.1/SubmitObservationDataResponseType" xmlns:stpdreq="http://esa.ssa/dpc/2.1/SubmitThirdPartyDataRequestType" xmlns:stpdres="http://esa.ssa/dpc/2.1/SubmitThirdPartyDataResponseType" xmlns:dpc="http://esa.ssa/dpc/2.1/dpc" name="dpc" targetNamespace="http://esa.ssa/dpc/2.1/SSTDataProcessingServiceSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="http://esa.ssa/dpc/2.1/SSTDataProcessingServiceSchema" version="1.0">
			<xsd:import namespace="http://esa.ssa/dpc/2.1/dpc" schemaLocation="../../DPCCommonTypes/dpc.xsd"/>
			<!-- SubmitObservationData -->
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SubmitObservationDataRequestType" schemaLocation="../Schemas/SubmitObservationDataRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SubmitObservationDataResponseType" schemaLocation="../Schemas/SubmitObservationDataResponseType.xsd"/>
			<!-- SubmitThirdPartyData -->
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SubmitThirdPartyDataRequestType" schemaLocation="../Schemas/SubmitThirdPartyDataRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SubmitThirdPartyDataResponseType" schemaLocation="../Schemas/SubmitThirdPartyDataResponseType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SSTDataProcessingServiceFaultMessageType">
		<wsdl:part name="fault" element="dpc:DPCErrorType"/>
	</wsdl:message>
	<wsdl:message name="SubmitObservationDataRequestMessageType">
		<wsdl:part name="in" element="sobdreq:SubmitObservationDataRequestType"/>
	</wsdl:message>
	<wsdl:message name="SubmitObservationDataResponseMessageType">
		<wsdl:part name="out" element="sobdres:SubmitObservationDataResponseType"/>
	</wsdl:message>
	<wsdl:message name="SubmitThirdPartyDataRequestMessageType">
		<wsdl:part name="in" element="stpdreq:SubmitThirdPartyDataRequestType"/>
	</wsdl:message>
	<wsdl:message name="SubmitThirdPartyDataResponseMessageType">
		<wsdl:part name="out" element="stpdres:SubmitThirdPartyDataResponseType"/>
	</wsdl:message>
	<wsdl:portType name="SSTDataProcessingServiceInterface">
		<!-- submitObservationData -->
		<wsdl:operation name="submitObservationData">
			<wsdl:input message="tns:SubmitObservationDataRequestMessageType"/>
			<wsdl:output message="tns:SubmitObservationDataResponseMessageType"/>
			<wsdl:fault name="submitObservationDataFault" message="tns:SSTDataProcessingServiceFaultMessageType"/>
		</wsdl:operation>
		<!-- submitThirdPartyData -->
		<wsdl:operation name="submitThirdPartyData">
			<wsdl:input message="tns:SubmitThirdPartyDataRequestMessageType"/>
			<wsdl:output message="tns:SubmitThirdPartyDataResponseMessageType"/>
			<wsdl:fault name="submitThirdPartyDataFault" message="tns:SSTDataProcessingServiceFaultMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
