templates/commonSSTDataModel/esa/ssa/sst/catalogue/object/object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://esa.ssa.sst/2.1/catalogue/object/"
	xmlns:cateph="http://esa.ssa.sst/2.1/catalogue/ephemeredes/"
	xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/"
	xmlns:catorb="http://esa.ssa.sst/2.1/catalogue/orbit/"
	xmlns:com="http://esa.ssa.sst/2.1/common/"
	xmlns:frag="http://esa.ssa.sst/2.1/fragmentations/"
	xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml"
	xmlns:omc="http://esa.ssa.sst/2.1/omc/"
	xmlns:ree="http://esa.ssa.sst/2.1/reentry/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cattr="http://esa.ssa.sst/2.1/catalogue/track/">
	<xsd:import namespace="http://esa.ssa.sst/2.1/reentry/"
		schemaLocation="../../reentry/reentry.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/fragmentations/"
		schemaLocation="../../fragmentations/fragmentations.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/omc/"
		schemaLocation="../../omc/omc.xsd" />
	<xsd:import
		namespace="http://esa.ssa.sst/2.1/catalogue/ephemeredes/"
		schemaLocation="../ephemeredes/ephemeredes.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/orbit/"
		schemaLocation="../orbit/orbit.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/"
		schemaLocation="../../common/common.xsd" />
	<xsd:import schemaLocation="../track/track.xsd"
		namespace="http://esa.ssa.sst/2.1/catalogue/track/">
	</xsd:import>
	<xsd:import schemaLocation="../../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd" namespace="urn:ccsds:recommendation:navigation:schema:ndmxml"></xsd:import>
	<xsd:complexType name="PhysicalState">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;The physical states of the object are the
				properties of the object which evolve during time,
				maneuver. &lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idPhysicalState" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Unique number identifying this
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stateDate" type="ndm:epochType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Date the last state of the object is
						known. UTC Date.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isActive" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Boolean that characterizes is a
						satellite is active or not.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isStabilised" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Boolean that characterizes is the
						object altitude is stabilized or not.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isTransiting" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Boolean indicating is the object
						commonly transits through its common region or
						if it is resident.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isExternalData" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Boolean indicating if the data have
						been provided by an external source.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedMass" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Mass of the object. Unit is
						kg.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rcs" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Radar Cross Section. Unit
						Meter2.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="absoluteMagnitude" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Absolute magnitude of the object. No
						unit.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spaceRegion" type="com:SpaceRegion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Region the object has been observed at
						this date.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="span" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Diameter of an imaginary circle
						embedding the object. Unit Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaOfAverageBallisticParameters"
				type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Standard deviation of calculated
						average ballistic parameters. Unit Meter2 per
						KG.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isManeuverable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Flag indicating if the object may be
						maneuvered or not.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objectAlbedo" type="xsd:double" minOccurs="0"/>
			<xsd:element name="dragArea" type="xsd:double" minOccurs="0"/>
                        <xsd:element name="solarRadArea" type="xsd:double" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Separation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Represents the separation of a spacecraft from
				the upper stage of a launcher.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dateSeparation" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Separation date of the upper stage. UTC
						Date.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="upperStage" type="com:ObjectRef">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Object representing the upper
						stage.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ObjectTypeEnum">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Enumeration of kinds of
				Objects.&lt;/p&gt;&lt;p&gt;Values inserted can be
				{0,'debris'}, {1,'missionRelated'}, {2,'platform'},
				{3,'spacecraft'}, {4,'upperstage'}.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="debris" />
			<xsd:enumeration value="missionRelated" />
			<xsd:enumeration value="platform" />
			<xsd:enumeration value="spacecraft" />
			<xsd:enumeration value="upperstage" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ObjectInternationalReference">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Reference database used to identify an object
				among those which are known.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" >
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Id of the object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="satno" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Satellite Norad number.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cosparId" type="catobj:CosparId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Object">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Object data refers to active and non active
				objects detected by the SST.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ssaID" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Id of the object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Name of the object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="followUpPriorityLevel"
				type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;A classification indicator for
						observations from which actual priorities set at
						request level can be generated. This attribute
						along with other parameters such as the
						importance of the request itself participates in
						the evaluation of the final priority of the
						planning request.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="owner" type="com:Owner" minOccurs="0"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="observedOrbits" type="catorb:Orbit">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Observed orbits of the
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="ephemeredes" type="cateph:Ephemeredes">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Ephemeredes available concerning an
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="separation"
				type="catobj:Separation">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Separation date of the object from its
						upper stage.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="catobj:ObjectTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;The nature of the object (e.g.
						spacecraft, debris...).&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objectReference"
				type="catobj:ObjectInternationalReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;International references of the
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" name="physicalStates"
				type="catobj:PhysicalState" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Physical states of the object
						computed/observed in a region at a certain
						epoch.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="mission"
				type="omc:Mission">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Initial mission of the
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="fragmentationEvent"
				type="frag:FragmentationEvent">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Fragmentation event the object result
						on.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classification"
				type="catobj:ClassificationLevelTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Classification of the object.
						Enumerated value.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="minimumRangeOrbit"
				type="ndm:keplerianElementsType">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;The minimum range values for the
						nominal orbit.&lt;/p&gt;&lt;p&gt;Although the
						chosen internal representation is Cartesian,
						these range values are expressed as Keplerian
						elements.This exception is justified by the fact
						that expressing the minimum and maximum range
						with Cartesian elements would not yield much
						sense.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="maximumRangeOrbit"
				type="ndm:keplerianElementsType">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;The maximum range values for the
						nominal orbit.&lt;/p&gt;&lt;p&gt;Although the
						chosen internal representation is Cartesian,
						these range values are expressed as Keplerian
						elements.This exception is justified by the fact
						that expressing the minimum and maximum range
						with Cartesian elements would not yield much
						sense.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orbitMeanElements" type="ndm:ommType" minOccurs="0"/>
			<xsd:element maxOccurs="unbounded" name="objectReEntry"
				type="ree:ObjectReEntry" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;&amp;amp;lt;p&amp;amp;gt;The current
						forseen reentry
						event.&amp;amp;lt;/p&amp;amp;gt;&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trackingData"
				type="cattr:SSTTrackingDataObservationType" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CosparId">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Represents the COSPAR designation, an
				international designator for satellites. It consists in
				a launch year, a launch number in that year and a 1 to 3
				letter code.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="launchNumber" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Launch number component of the
						CosparId.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="letterCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Letter code component of the
						CosparId.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="launchYear" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Launch year component of the
						CosparId.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectIdType">
		<xsd:sequence>
			<xsd:element name="ssaID" type="xsd:long" minOccurs="0" />
			<xsd:element name="cosparId" type="catobj:CosparId"
				minOccurs="0" />
			<xsd:element name="satno" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Satellite Norad number.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ClassificationLevelTypeEnum">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Enumeration of Classification Levels used to
				characterize data or sensors, for
				instance.&lt;/p&gt;&lt;p&gt;Values inserted can be
				{0,'C'}, {1,'Confidential'}, {2,'For Official Use
				Only'}, {3,'FOUO'}, {4,'PROP'}, {5,'Proprietary'},
				{6,'S'}, {7,'S//TK'}, {8,'Secret'}, {9,'Secret
				Talent-Keyhole'}, {10,'Top Secret'}, {11,'Top Secret
				Talent-Keyhole'}, {12,'TS'}, {13,'TS//TK'}, {14,'U'},
				{15,'Unclassified'}.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Confidential" />
			<xsd:enumeration value="For Official Use Only" />
			<xsd:enumeration value="Proprietary" />
			<xsd:enumeration value="Secret Talent-Keyhole" />
			<xsd:enumeration value="Top Secret" />
			<xsd:enumeration value="Top Secret Talent-Keyhole" />
			<xsd:enumeration value="Unclassified" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>