templates/SST_Core/Genserv/SensorService/wsdl/v1.2/SensorListenerService/Wsdl/SensorListenerServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://esa.ssa/ssensor/1.2/SensorListenerServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ocreq="http://esa.ssa/ssensor/1.2/OnSensorCreateRequestType" xmlns:oureq="http://esa.ssa/ssensor/1.2/OnSensorUpdateRequestType" xmlns:obreq="http://esa.ssa/ssensor/1.2/OnSensorBiasesUpdateRequestType" xmlns:oactreq="http://esa.ssa/ssensor/1.2/OnSensorActiveRequestType" xmlns:oinactreq="http://esa.ssa/ssensor/1.2/OnSensorInactiveRequestType" xmlns:odreq="http://esa.ssa/ssensor/1.2/OnSensorDeleteRequestType" name="ssensor" targetNamespace="http://esa.ssa/ssensor/1.2/SensorListenerServiceSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://esa.ssa/ssensor/2.0" attributeFormDefault="qualified" version="1.1">
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/OnSensorCreateRequestType" schemaLocation="../Schemas/OnSensorCreateRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/OnSensorUpdateRequestType" schemaLocation="../Schemas/OnSensorUpdateRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/OnSensorBiasesUpdateRequestType" schemaLocation="../Schemas/OnSensorBiasesUpdateRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/OnSensorActiveRequestType" schemaLocation="../Schemas/OnSensorActiveRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/OnSensorInactiveRequestType" schemaLocation="../Schemas/OnSensorInactiveRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssensor/1.2/OnSensorDeleteRequestType" schemaLocation="../Schemas/OnSensorDeleteRequestType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OnSensorCreateRequestMessageType">
		<wsdl:part name="in" element="ocreq:OnSensorCreateRequestType"/>
	</wsdl:message>
	<wsdl:message name="OnSensorUpdateRequestMessageType">
		<wsdl:part name="in" element="oureq:OnSensorUpdateRequestType"/>
	</wsdl:message>
	<wsdl:message name="OnSensorBiasesUpdateRequestMessageType">
		<wsdl:part name="in" element="obreq:OnSensorBiasesUpdateRequestType"/>
	</wsdl:message>
	<wsdl:message name="OnSensorActiveRequestMessageType">
		<wsdl:part name="in" element="oactreq:OnSensorActiveRequestType"/>
	</wsdl:message>
	<wsdl:message name="OnSensorInactiveRequestMessageType">
		<wsdl:part name="in" element="oinactreq:OnSensorInactiveRequestType"/>
	</wsdl:message>
	<wsdl:message name="OnSensorDeleteRequestMessageType">
		<wsdl:part name="in" element="odreq:OnSensorDeleteRequestType"/>
	</wsdl:message>
	<wsdl:portType name="SensorListenerServiceInterface">
		<wsdl:operation name="onSensorCreate">
			<wsdl:input message="tns:OnSensorCreateRequestMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="onSensorUpdate">
			<wsdl:input message="tns:OnSensorUpdateRequestMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="onSensorBiasesUpdate">
			<wsdl:input message="tns:OnSensorBiasesUpdateRequestMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="onSensorActive">
			<wsdl:input message="tns:OnSensorActiveRequestMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="onSensorInactive">
			<wsdl:input message="tns:OnSensorInactiveRequestMessageType"/>
		</wsdl:operation>
		<wsdl:operation name="onSensorDelete">
			<wsdl:input message="tns:OnSensorDeleteRequestMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
