templates/SST_Core/Genserv/SensorService/wsdl/v1.2/SensorListenerService/Wsdl/SensorListenerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssensor="http://esa.ssa/ssensor/1.2/SensorListenerServiceSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esa.ssa/ssensor/1.2/SensorListenerService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ssa="http://esa.ssa.common/ssaRuntimeService/" name="SensorListenerService" targetNamespace="http://esa.ssa/ssensor/1.2/SensorListenerService">
	<wsdl:import namespace="http://esa.ssa/ssensor/1.2/SensorListenerServiceSchema" location="./SensorListenerServiceSchema.wsdl"/>
	<wsdl:import namespace="http://esa.ssa.common/ssaRuntimeService/" location="../../../../../wsdl/ssaRuntimeService.wsdl"/>
	<wsdl:binding name="SensorListenerServiceInterfaceBinding" type="ssensor:SensorListenerServiceInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="onSensorCreate">
			<soap:operation soapAction="http://esa.ssa/ssensor/1.2/SensorListenerService/onSensorCreate"/>
			<wsdl:input>
				<soap:body parts="in" use="literal"/>
				<soap:header message="ssa:SSARuntimeMessage" part="header" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onSensorUpdate">
			<soap:operation soapAction="http://esa.ssa/ssensor/1.2/SensorListenerService/onSensorUpdate"/>
			<wsdl:input>
				<soap:body parts="in" use="literal"/>
				<soap:header message="ssa:SSARuntimeMessage" part="header" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onSensorBiasesUpdate">
			<soap:operation soapAction="http://esa.ssa/ssensor/1.2/SensorListenerService/onSensorBiasesUpdate"/>
			<wsdl:input>
				<soap:body parts="in" use="literal"/>
				<soap:header message="ssa:SSARuntimeMessage" part="header" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onSensorActive">
			<soap:operation soapAction="http://esa.ssa/ssensor/1.2/SensorListenerService/onSensorActive"/>
			<wsdl:input>
				<soap:body parts="in" use="literal"/>
				<soap:header message="ssa:SSARuntimeMessage" part="header" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onSensorInactive">
			<soap:operation soapAction="http://esa.ssa/ssensor/1.2/SensorListenerService/onSensorInactive"/>
			<wsdl:input>
				<soap:body parts="in" use="literal"/>
				<soap:header message="ssa:SSARuntimeMessage" part="header" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onSensorDelete">
			<soap:operation soapAction="http://esa.ssa/ssensor/1.2/SensorListenerService/onSensorDelete"/>
			<wsdl:input>
				<soap:body parts="in" use="literal"/>
				<soap:header message="ssa:SSARuntimeMessage" part="header" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SensorListenerService">
		<wsdl:port name="SensorListenerServiceInterfacePort" binding="tns:SensorListenerServiceInterfaceBinding">
			<soap:address location="http://esa.ssa/ssensor/1.2/SensorListenerService/SensorListenerService/SensorListenerServiceInterfacePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
