templates/SST_Core/DPC/dpc-1.7-wsdl/DPCMonitoringService/Wsdl/DPCMonitoringServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssa="http://ssa.esa.int/common/" xmlns:tns="http://esa.ssa/dpc/2.1/DPCMonitoringServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:moag="http://eu.esa.ssa.gen.connectivity.moag/data/" name="dpc" targetNamespace="http://esa.ssa/dpc/2.1/DPCMonitoringServiceSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="http://esa.ssa/dpc/2.1/DPCMonitoringServiceSchema" version="1.0">
			<xsd:import namespace="http://eu.esa.ssa.gen.connectivity.moag/data/" schemaLocation="../eu/esa/ssa/gen/connectivity/moag/data/data.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<!-- Monitoring Agent Messages -->
	<wsdl:message name="MonitoringAgentServiceInterfacegetStatusRequest">
		<wsdl:part element="moag:statusRequestInput" name="in"/>
	</wsdl:message>
	<wsdl:message name="MonitoringAgentServiceInterfacegetStatusResponse">
		<wsdl:part element="moag:getStatusRequestType" name="out"/>
	</wsdl:message>
	<wsdl:message name="MonitoringAgentServiceInterfacestartRequest">
		<wsdl:part element="moag:startRequestInput" name="in"/>
	</wsdl:message>
	<wsdl:message name="MonitoringAgentServiceInterfacestopRequest">
		<wsdl:part element="moag:stopRequestInput" name="in"/>
	</wsdl:message>
	<wsdl:message name="MonitoringAgentServiceInterfaceconfigureRequest">
		<wsdl:part element="moag:configureRequestType" name="in"/>
	</wsdl:message>
	<wsdl:portType name="DPCMonitoringServiceInterface">
		<!-- Monitoring Agent operations -->
		<wsdl:operation name="getStatus">
			<wsdl:input message="tns:MonitoringAgentServiceInterfacegetStatusRequest"/>
			<wsdl:output message="tns:MonitoringAgentServiceInterfacegetStatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="start">
			<wsdl:input message="tns:MonitoringAgentServiceInterfacestartRequest"/>
		</wsdl:operation>
		<wsdl:operation name="stop">
			<wsdl:input message="tns:MonitoringAgentServiceInterfacestopRequest"/>
		</wsdl:operation>
		<wsdl:operation name="configure">
			<wsdl:input message="tns:MonitoringAgentServiceInterfaceconfigureRequest"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
