templates/SSIM/v2.0/SSIMMonitoringService/eu/esa/ssa/gen/connectivity/moag/service/service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="service" targetNamespace="http://eu.esa.ssa.gen.connectivity.moag/service/" xmlns:data="http://eu.esa.ssa.gen.connectivity.moag/data/" xmlns:tns="http://eu.esa.ssa.gen.connectivity.moag/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://eu.esa.ssa.gen.connectivity.moag/service/">
      <xsd:import namespace="http://eu.esa.ssa.gen.connectivity.moag/data/" schemaLocation="../data/data.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MonitoringAgentServiceInterfacegetStatusRequest">
    <wsdl:part element="data:statusRequestInput" name="in"/>
  </wsdl:message>
  <wsdl:message name="MonitoringAgentServiceInterfacegetStatusResponse">
    <wsdl:part element="data:getStatusRequestType" name="out"/>
  </wsdl:message>
  <wsdl:message name="MonitoringAgentServiceInterfacestartRequest">
    <wsdl:part element="data:startRequestInput" name="in"/>
  </wsdl:message>
  <wsdl:message name="MonitoringAgentServiceInterfacestopRequest">
    <wsdl:part element="data:stopRequestInput" name="in"/>
  </wsdl:message>
  <wsdl:message name="MonitoringAgentServiceInterfaceconfigureRequest">
    <wsdl:part element="data:configureRequestType" name="in"/>
  </wsdl:message>
  <wsdl:portType name="MonitoringAgentServiceInterface">
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:MonitoringAgentServiceInterfacegetStatusRequest"/>
      <wsdl:output message="tns:MonitoringAgentServiceInterfacegetStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="start">
      <wsdl:input message="tns:MonitoringAgentServiceInterfacestartRequest"/>
    </wsdl:operation>
    <wsdl:operation name="stop">
      <wsdl:input message="tns:MonitoringAgentServiceInterfacestopRequest"/>
    </wsdl:operation>
    <wsdl:operation name="configure">
      <wsdl:input message="tns:MonitoringAgentServiceInterfaceconfigureRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>