templates/commonSSTDataModel/esa/ssa/sst/fragmentations/fragmentations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://esa.ssa.sst/2.1/fragmentations/"
	xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/"
	xmlns:catorb="http://esa.ssa.sst/2.1/catalogue/orbit/"
	xmlns:comsst="http://esa.ssa.sst/2.1/common/sst/"
	xmlns:frag="http://esa.ssa.sst/2.1/fragmentations/"
	xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://esa.ssa.sst/2.1/common/">
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/sst/"
		schemaLocation="../common/sst/sst.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/object/"
		schemaLocation="../catalogue/object/object.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/orbit/"
		schemaLocation="../catalogue/orbit/orbit.xsd" />
	<xsd:import
		namespace="urn:ccsds:recommendation:navigation:schema:ndmxml"
		schemaLocation="../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd" />
	<xsd:import schemaLocation="../common/common.xsd" namespace="http://esa.ssa.sst/2.1/common/"></xsd:import>
	<xsd:complexType name="ObjectFlux">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Object Flux keep the computed knowledge on the
				average flux for a period of 1 month after the
				event.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idFlux" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Unique number identifying this
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nbObjectPerM2perMonth"
				type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Object flux in term of number of
						objects per meter2 per month, of a given size
						(superior to 1 cm, superior to 10 cm).&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objectSize" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Object size for which the number of
						object is valid. Can be 1 centimeter or 10
						centimeter. Unit in Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="computedDate" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Computation date of the flux. Unit UTC
						time-frame.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FragmentationEvent">
	    <xsd:annotation>
	        <xsd:documentation>
	            &lt;p&gt;Fragmentation event detected by the segment. It
	            is characterized by a conjunction geometry associated to
	            an object flux and produce a new reference information
	            for spatial density.&lt;/p&gt;
	        </xsd:documentation>
	    </xsd:annotation>
	    <xsd:sequence>
	        <xsd:element name="idFragmentationEvent" type="xsd:long">
	            <xsd:annotation>
	                <xsd:documentation>
	                    &lt;p&gt;Unique number identifying this
	                    object.&lt;/p&gt;
	                </xsd:documentation>
	            </xsd:annotation>
	        </xsd:element>
	        <xsd:element name="timeOfEvent" type="ndm:epochType">
	            <xsd:annotation>
	                <xsd:documentation>
	                    &lt;p&gt;Time of the fragmentation event. UTC
	                    time-frame.&lt;/p&gt;
	                </xsd:documentation>
	            </xsd:annotation>
	        </xsd:element>
	        <xsd:element name="numberOfFragmentsDetected"
	            type="xsd:integer">
	            <xsd:annotation>
	                <xsd:documentation>
	                    &lt;p&gt;Number of fragments produce by the
	                    fragmentation.&lt;/p&gt;
	                </xsd:documentation>
	            </xsd:annotation>
	        </xsd:element>
	        <xsd:element name="referenceFrame" type="xsd:string"></xsd:element>
	        <xsd:element name="positionX" type="xsd:double"></xsd:element>
	        <xsd:element name="positionY" type="xsd:double"></xsd:element>
	        <xsd:element name="positionZ" type="xsd:double"></xsd:element>
	        <xsd:element name="longitude" type="xsd:double"></xsd:element>
	        <xsd:element name="latitude" type="xsd:double"></xsd:element>
	        <xsd:element name="altitude" type="xsd:double"></xsd:element>
	        <xsd:element name="status"
	            type="frag:FragmentationEventStatus">
	        </xsd:element>
	        <xsd:element name="orbitalRange"
	            type="frag:OrbitalRangeType">
	        </xsd:element>
	        <xsd:element name="progenitorObject" type="com:ObjectRef"></xsd:element>
	        <xsd:element name="parent"
	            type="com:FragmentationEventRef">
	        </xsd:element>
	        <xsd:element name="epoch" type="ndm:epochType"></xsd:element>
	        <xsd:element name="semiMajorAxisDist" type="xsd:string"></xsd:element>
	        <xsd:element name="eccentricityDist" type="xsd:string"></xsd:element>
	        <xsd:element name="inclinationDist" type="xsd:string"></xsd:element>
	        <xsd:element name="raOfAscNodeDist" type="xsd:string"></xsd:element>
	        <xsd:element name="semiMajorAxisLocation"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="eccentricityLocation"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="inclinationLocation" type="xsd:double"></xsd:element>
	        <xsd:element name="raOfAscNodeLocation" type="xsd:double"></xsd:element>
	        <xsd:element name="semiMajorAxisSpread" type="xsd:double"></xsd:element>
	        <xsd:element name="eccentricitySpread" type="xsd:double"></xsd:element>
	        <xsd:element name="inclinationSpread" type="xsd:double"></xsd:element>
	        <xsd:element name="raOfAscNodeSpread" type="xsd:double"></xsd:element>
	        <xsd:element name="collisionId" type="xsd:long"></xsd:element>
	        <xsd:element name="object2" type="com:ObjectRef"></xsd:element>
	        <xsd:element name="relativeSpeed" type="xsd:double"></xsd:element>
	        <xsd:element name="relativeVelocityR" type="xsd:double"></xsd:element>
	        <xsd:element name="relativeVelocityN" type="xsd:double"></xsd:element>
	        <xsd:element name="relativeVelocityT" type="xsd:double"></xsd:element>
	        <xsd:element name="estimatedDensityIncrease"
	            type="frag:DensityIncreaseElement" maxOccurs="unbounded"
	            minOccurs="0">
	        </xsd:element>
	        <xsd:element name="fragments" type="frag:Fragment"
	            maxOccurs="unbounded" minOccurs="0">
	        </xsd:element>
	        <xsd:element name="analysisId"
	            type="xsd:long">
	        </xsd:element>
	        <xsd:element name="analysisTime" type="ndm:epochType"></xsd:element>
	        <xsd:element name="isLatest" type="xsd:boolean"></xsd:element>
	        <xsd:element name="numberOfFragmentsSimulated"
	            type="xsd:integer">
	        </xsd:element>
	        <xsd:element name="semiMajorAxisLocationSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="eccentricityLocationSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="inclinationLocationSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="raOfAscNodeLocationSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="semiMajorAxisSpreadSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="eccentricitySpreadSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="inclinationSpreadSimulated"
	            type="xsd:double">
	        </xsd:element>
	        <xsd:element name="raOfAscNodeSpreadSimulated"
	            type="xsd:double">
	        </xsd:element>
	    </xsd:sequence>

	</xsd:complexType>
	<xsd:complexType name="FragmentationBulletin">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;The Fragmentation Bulletin is sent to the
				interested user to relate on a Fragmentation event and
				its consequences (see object flux).&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idFragmentationBulletin"
				type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Unique number identifying this
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fragmentationEvent"
				type="frag:FragmentationEvent">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Fragmentation event the bulletin is
						about.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="2" minOccurs="2" name="objectFlux"
				type="frag:ObjectFlux">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Object flux generated for a period of 1
						month after the event.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="user" type="comsst:User">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;User : the user interested in bulletin
						knowledge.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="Fragment">
	    <xsd:sequence>
	        <xsd:element name="fragmentId" type="xsd:long"></xsd:element>
	        <xsd:element name="fragmentationEvent"
	            type="com:FragmentationEventRef">
	        </xsd:element>
	        <xsd:element name="timeOfDetection" type="ndm:epochType"></xsd:element>
	        <xsd:element name="fragmentNumber" type="xsd:integer"></xsd:element>
	        <xsd:element name="object" type="com:ObjectRef"></xsd:element>
	        <xsd:element name="status" type="frag:FragmentStatus"></xsd:element>
			<xsd:element name="apogeeAltitude" type="xsd:double"></xsd:element>
			<xsd:element name="perigeeAltitude" type="xsd:double"></xsd:element>
			<xsd:element name="period" type="xsd:double"></xsd:element>
	    </xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="FragmentStatus">
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="approved" />
            <xsd:enumeration value="rejected" />
            <xsd:enumeration value="pending" />
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FragmentationEventStatus">
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="approved" />
            <xsd:enumeration value="rejected" />
            <xsd:enumeration value="pending" />
            <xsd:enumeration value="updated" />
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="OrbitalRangeType">
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LEO" />
            <xsd:enumeration value="MEO" />
            <xsd:enumeration value="GEO" />
            <xsd:enumeration value="ALL" />
            <xsd:enumeration value="OTH" />
        </xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="DensityIncreaseElement">
	    <xsd:sequence>
	        <xsd:element name="radius" type="ndm:distanceType"></xsd:element>
	        <xsd:element name="density" type="xsd:double"></xsd:element>
	        <xsd:element name="densityIncrease" type="xsd:double"></xsd:element>
	    </xsd:sequence>
	</xsd:complexType>
</xsd:schema>