templates/commonSSTDataModel/esa/ssa/sst/reentry/reentry.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://esa.ssa.sst/2.1/reentry/" xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/" xmlns:com="http://esa.ssa.sst/2.1/common/" xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml" xmlns:ree="http://esa.ssa.sst/2.1/reentry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/object/" schemaLocation="../catalogue/object/object.xsd"/>
  <xsd:import namespace="urn:ccsds:recommendation:navigation:schema:ndmxml" schemaLocation="../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/common/" schemaLocation="../common/common.xsd"/>
  <xsd:complexType name="BalisticParameter">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Ballistic parameters of the object.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id of the object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amRatio" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Surface to mass ratio (a is the exposed cross sectional area). Unit Meter2 per KG.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dragCoefficient" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Drag coefficient Cd. Unit dimensionless.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserReEntryRequest">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Request the user ask the SST for an object. &lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:AbstractRequest">
        <xsd:sequence>
        	<xsd:element name="requestDate" type="ndm:epochType">
        		<xsd:annotation>
        			<xsd:documentation>
        				&lt;p&gt;Date the request is made.&lt;/p&gt;
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element maxOccurs="unbounded" minOccurs="0"
        		name="reEntryPredictionMessage"
        		type="com:ReEntryPredictionMessageRef">
        		<xsd:annotation>
        			<xsd:documentation>
        				&lt;p&gt;Re entry prediction message the user
        				can use.&lt;/p&gt;
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReEntryPredictionMessage">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Re entry prediction message produced by the SST. This message brings some precision on the object re entry.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="objectInitialMass" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Uncertainty time for the re entry event. Unit Second.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="objectInitialCrossSection" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Probability that the re-entry object impacts the ground.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="probabilityImpactArea" type="xsd:double"/>
      <xsd:element name="landImpactProbability" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Uncertainty time for the re entry event. Unit Second.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totalImpactKineticEnergy" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Probability that the re-entry object impacts the ground.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="objectReentry" type="com:ObjectReEntryRef">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Object that makes its re entry.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactingFragmentsCount" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Number of predicted fragments.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="affectedCountries" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;List of countries potentially affected by the re-entry.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="impactingFragment" type="ree:ImpactingFragment"/>
      <xsd:element name="userReEntryRequest" type="ree:UserReEntryRequest">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reentry request the reentry prediction message is about. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="casualtiesProbability" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Probability that the re-entry object causes casualties and fatalities.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fatalitiesProbability" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The kinetic energy of fragments. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObjectReEntry">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Object re entry event computed for a particular object. This information is monitored by the SST to compute automatically the next object re entry for the object under time and size constraints.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estimatedReentryTime" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Estimated time of the re entry. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="decayedObject" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Boolean indicating if the object is decayed or not. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="computingDate" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Date the re entry is computed. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nextUpdateDate" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Date for the next prediction of re entry time (with new data). UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="balisticParameter" type="ree:BalisticParameter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Estimated ballistic parameter of the object at re entry time.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="updateInterval" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Update interval for the ballistic parameter (flag 0…, or a time value). Will be used for the determination of the update interval; filter criterion.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reEntryPredictionMessage" type="ree:ReEntryPredictionMessage">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reentry prediction message the object reentry event is mentioned.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orbitalLifetimeUpdate" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Date of last update of the orbital lifetime. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ballisticParameterUpdate" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Date of last update of the ballistic parameter. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="balisticParameterDeviation" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The standard deviation of calculated average ballistic parameters. Provides a quality criterion for the ballistic parameter estimation.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ballisticParametersCount" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Number of ballistic parameters considered in the calculation of the average ballistic parameter. Provides a quality criterion for the ballistic parameter estimation.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lifetimePropagator" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Propagator used for the last update of lifetime among the different propagators available.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reentryVelocity" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Velocity of the object at re-entry expressed in meter/second.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lifetimeChangeFlag" type="ree:LifetimeChangeFlagEnum">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Lifetime change flag (e.g. if the calculated orbital lifetime differs more then 50% from lifetime in the DB, or if a lifetime prediction is not possible, ...).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ballisticParameterPropagator" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Propagator used for the last update of ballistic parameters among the different propagators available.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="LifetimeChangeFlagEnum">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Enumeration of available values for lifetime change flag.&lt;/p&gt;&lt;p&gt;Values inserted can be {0,'if the calculated orbital lifetime differs more then 50% from lifetime in the DB'}, {1,'if a lifetime prediction is not possible'}...&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="differs"/>
      <xsd:enumeration value="prediction not possible"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ImpactingFragment">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nominalImpactLocation" type="com:GeodeticPosition">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Computed location of the re entry. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactKineticEnergyFragment" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="semimajorDispersion" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="semiminorDispersion" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="azimuth" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="downrageVelocityDispersion" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="crossrangeVelocityDispersion" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="radialVelocityDispersion" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The total kinetic energy at impact. Unit is Joules.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>