templates/SSIM/v2.0/SensorSimulatorService/Wsdl/SensorSimulatorServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssa="http://ssa.esa.int/common/" 
	xmlns:tns="http://esa.ssa/ssim/2.0/SensorSimulatorServiceSchema" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:robsres="http://esa.ssa/ssim/2.0/RequestObservationResponseType" 
	xmlns:robsreq="http://esa.ssa/ssim/2.0/RequestObservationRequestType" 
	xmlns:ssrares="http://esa.ssa/ssim/2.0/SubmitSurveyRadarResponseType" 
	xmlns:ssrareq="http://esa.ssa/ssim/2.0/SubmitSurveyRadarRequestType" 
	xmlns:ssim="http://esa.ssa/ssim/2.0/ssim" name="ssim" targetNamespace="http://esa.ssa/ssim/2.0/SensorSimulatorServiceSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://esa.ssa/ssim/2.0/SensorSimulatorServiceSchema" attributeFormDefault="qualified" version="1.1">
			<xsd:import namespace="http://esa.ssa/ssim/2.0/ssim" schemaLocation="../../SSIMCommonTypes/ssim.xsd"/>
			<!-- RequestObservation -->
			<xsd:import namespace="http://esa.ssa/ssim/2.0/RequestObservationResponseType" schemaLocation="../Schemas/RequestObservationResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssim/2.0/RequestObservationRequestType" schemaLocation="../Schemas/RequestObservationRequestType.xsd"/>
			<!-- SubmitSurveyRadar -->
			<xsd:import namespace="http://esa.ssa/ssim/2.0/SubmitSurveyRadarResponseType" schemaLocation="../Schemas/SubmitSurveyRadarResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/ssim/2.0/SubmitSurveyRadarRequestType" schemaLocation="../Schemas/SubmitSurveyRadarRequestType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SensorSimulatorServiceFaultMessageType">
		<wsdl:part name="fault" element="ssim:SSIMErrorType"/>
	</wsdl:message>
	<wsdl:message name="RequestObservationRequestMessageType">
		<wsdl:part name="in" element="robsreq:RequestObservationRequestType"/>
	</wsdl:message>
	<wsdl:message name="RequestObservationResponseMessageType">
		<wsdl:part name="out" element="robsres:RequestObservationResponseType"/>
	</wsdl:message>
	<wsdl:message name="SubmitSurveyRadarRequestMessageType">
		<wsdl:part name="in" element="ssrareq:SubmitSurveyRadarRequestType"/>
	</wsdl:message>
	<wsdl:message name="SubmitSurveyRadarResponseMessageType">
		<wsdl:part name="out" element="ssrares:SubmitSurveyRadarResponseType"/>
	</wsdl:message>
	<wsdl:portType name="SensorSimulatorServiceInterface">
		<!-- requestObservation -->
		<wsdl:operation name="requestObservation">
			<wsdl:input message="tns:RequestObservationRequestMessageType"/>
			<wsdl:output message="tns:RequestObservationResponseMessageType"/>
			<wsdl:fault name="requestObservationFault" message="tns:SensorSimulatorServiceFaultMessageType"/>
		</wsdl:operation>
		<!-- submitSurveyRadar -->
		<wsdl:operation name="submitSurveyRadar">
			<wsdl:input message="tns:SubmitSurveyRadarRequestMessageType"/>
			<wsdl:output message="tns:SubmitSurveyRadarResponseMessageType"/>
			<wsdl:fault name="submitSurveyRadarFault" message="tns:SensorSimulatorServiceFaultMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
