templates/SST_Core/DPC/dpc-1.7-wsdl/HMICommunicationService/Wsdl/HMICommunicationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dpc="http://esa.ssa/dpc/2.1/HMICommunicationServiceSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esa.ssa/dpc/2.1/HMICommunicationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ssa="http://esa.ssa.common/ssaRuntimeService/" name="HMICommunicationService" targetNamespace="http://esa.ssa/dpc/2.1/HMICommunicationService">
	<wsdl:import namespace="http://esa.ssa/dpc/2.1/HMICommunicationServiceSchema" location="./HMICommunicationServiceSchema.wsdl"/>
	<wsdl:import namespace="http://esa.ssa.common/ssaRuntimeService/" location="../../ssaHeaders/ssaRuntimeService.wsdl"/>
	<wsdl:binding name="HMICommunicationServiceInterfaceBinding" type="dpc:HMICommunicationServiceInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- ======== OPERATIONS =========  -->
		<wsdl:operation name="confirmProcess">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateSensorBiases">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSensorBiasAsXML">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getSensorDataAsXML">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getThirdPartyDataAsXML">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getEphemAsAscii">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>	
		
		<wsdl:operation name="getEphemAsXML">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>	
		
		<wsdl:operation name="getObservationDataAsXML">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getObjectsStateVector">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getManualDPCDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getManualQualityDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getManualCorrelationDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getManualODDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="startDPC">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigAncillary">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="activeSensor">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addNewSensor">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="removeObject">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="removeSensor">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
				<wsdl:operation name="removeConfigTP">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSpaceRegions">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOrbits">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProviders">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOrbitDeterminationIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigThirdPartyData">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getThirdPartyDataDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setHMIExecutionTimeThreshold">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigEphemerides">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfCorrelation">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigAccuracy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigLookUpTable">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPlanningRequestIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfThirdPartyData">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCatalogue">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getOrbitDeterminationDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getElementsManualOperation">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getManualOperationDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigLookUpTable">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getServiceProcess">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObjectDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigOperationMode">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfPlanningRequest">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfQualityMonitoring">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigCandidate">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfObservations">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setHMITimeSpan">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigSensors">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigOperationMode">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCorrelationDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getThirdPartyDataIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigEphemerides">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigDynamicModel">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObservationsDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfOD">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigThresholdOD">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigSensors">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcess">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigThresholdOD">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigThirdPartyData">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeAction">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getHMITimeSpan">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getConfigAncillary">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getQualityMonitoringDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPlanningRequestDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="stopDPC">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSigPosErrorReport">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfObservationsInCatalogue">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigCandidate">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObservationsIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObjectsIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getConfigDynamicModel">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getQualityMonitoringIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCorrelationIDFilterBy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setConfigAccuracy">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getHMIExecutionTimeThreshold">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfObjects">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getService">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSensorTypeList">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getODMeasures">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPreMergeID">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
			<wsdl:operation name="getPreMergeDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
				<wsdl:operation name="calculateODForMerge">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessageType">
				<soap:fault name="FaultMessageType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="HMICommunicationService">
		<wsdl:port name="HMICommunicationServiceInterfacePort" binding="tns:HMICommunicationServiceInterfaceBinding">
			<soap:address location="http://esa.ssa/dpc/2.1/HMICommunicationService/HMICommunicationService/HMICommunicationServiceInterfacePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
