templates/SST_Core/DPC/dpc-1.7-wsdl/OrbitDeterminationService/Wsdl/OrbitDeterminationServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssa="http://ssa.esa.int/common/" xmlns:tns="http://esa.ssa/dpc/2.1/OrbitDeterminationServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pireq="http://esa.ssa/dpc/2.1/PerformInitialRequestType" xmlns:pires="http://esa.ssa/dpc/2.1/PerformInitialResponseType" xmlns:prreq="http://esa.ssa/dpc/2.1/PerformRoutineRequestType" xmlns:prres="http://esa.ssa/dpc/2.1/PerformRoutineResponseType" xmlns:dpc="http://esa.ssa/dpc/2.1/dpc" name="dpc" targetNamespace="http://esa.ssa/dpc/2.1/OrbitDeterminationServiceSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="http://esa.ssa/dpc/2.1/OrbitDeterminationServiceSchema" version="1.0">
			<xsd:import namespace="http://esa.ssa/dpc/2.1/dpc" schemaLocation="../../DPCCommonTypes/dpc.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PerformInitialRequestType" schemaLocation="../Schemas/PerformInitialRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PerformInitialResponseType" schemaLocation="../Schemas/PerformInitialResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PerformRoutineRequestType" schemaLocation="../Schemas/PerformRoutineRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PerformRoutineResponseType" schemaLocation="../Schemas/PerformRoutineResponseType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OrbitDeterminationServiceFaultMessageType">
		<wsdl:part name="fault" element="dpc:DPCErrorType"/>
	</wsdl:message>
	<wsdl:message name="PerformInitialRequestMessageType">
		<wsdl:part name="in" element="pireq:PerformInitialRequestType"/>
	</wsdl:message>
	<wsdl:message name="PerformInitialResponseMessageType">
		<wsdl:part name="out" element="pires:PerformInitialResponseType"/>
	</wsdl:message>
	<wsdl:message name="PerformRoutineRequestMessageType">
		<wsdl:part name="in" element="prreq:PerformRoutineRequestType"/>
	</wsdl:message>
	<wsdl:message name="PerformRoutineResponseMessageType">
		<wsdl:part name="out" element="prres:PerformRoutineResponseType"/>
	</wsdl:message>
	<wsdl:portType name="OrbitDeterminationServiceInterface">
		<!--performInitial-->
		<wsdl:operation name="performInitial">
			<wsdl:input message="tns:PerformInitialRequestMessageType"/>
			<wsdl:output message="tns:PerformInitialResponseMessageType"/>
			<wsdl:fault name="performInitialFault" message="tns:OrbitDeterminationServiceFaultMessageType"/>
		</wsdl:operation>
		<!--performRoutine-->
		<wsdl:operation name="performRoutine">
			<wsdl:input message="tns:PerformRoutineRequestMessageType"/>
			<wsdl:output message="tns:PerformRoutineResponseMessageType"/>
			<wsdl:fault name="performRoutineFault" message="tns:OrbitDeterminationServiceFaultMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
