templates/SST_Core/DPC/dpc-1.7-wsdl/DPCCommonTypes/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://esa.ssa/dpc/2.1/dpc/data" xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml" xmlns:moag="http://eu.esa.ssa.gen.connectivity.moag/data/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://esa.ssa/dpc/2.1/dpc/data" elementFormDefault="qualified">
	<xsd:import namespace="urn:ccsds:recommendation:navigation:schema:ndmxml" schemaLocation="../../../../commonSSTDataModel/CCSDS/ndmxml-1.0-namespace-1.1.xsd"/>
	<xsd:import namespace="http://eu.esa.ssa.gen.connectivity.moag/data/" schemaLocation="../DPCMonitoringService/eu/esa/ssa/gen/connectivity/moag/data/data.xsd"/>
	<!--  HMI Configuration -->
	<xsd:simpleType name="ConfigHMIClassType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CONFIG ALL"/>
			<xsd:enumeration value="CONFIG ACCURACY"/>
			<xsd:enumeration value="CONFIG ANCILLARY"/>
			<xsd:enumeration value="CONFIG SENSORS"/>
			<xsd:enumeration value="CONFIG CANDIDATE"/>
			<xsd:enumeration value="CONFIG DYNAMIC MODEL"/>
			<xsd:enumeration value="CONFIG EPH GENERATION"/>
			<xsd:enumeration value="CONFIG EXECUTION TIME"/>
			<xsd:enumeration value="CONFIG TIME SPAN"/>
			<xsd:enumeration value="CONFIG LOOKUP TABLE"/>
			<xsd:enumeration value="CONFIG OPERATION MODE"/>
			<xsd:enumeration value="CONFIG THIRD PARTY"/>
			<xsd:enumeration value="CONFIG OD THRESHOLD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ConfigOrbitType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigMethodType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigSensorType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigServiceType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigAccuracy">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="TimePlanObs" type="xsd:double"/>
			<xsd:element name="TimeProcessObs" type="xsd:double"/>
			<xsd:element name="ConfigAccuracyItem" type="tns:ConfigAccuracyType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigAccuracyType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
			<xsd:element name="OrbitType" type="tns:ConfigOrbitType"/>
			<xsd:element name="AlongTrackAccuracy" type="xsd:double"/>
			<xsd:element name="CrossTrackAccuracy" type="xsd:double"/>
			<xsd:element name="RadialTrackAccuracy" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigAncillaryList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigAncillary" type="tns:ConfigAncillary" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigAncillary">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
			<xsd:element name="File" type="xsd:string"/>
			<xsd:element name="Method" type="tns:ConfigMethodType"/>
			<xsd:element name="Frequency" type="xsd:double"/>
			<xsd:element name="Location" type="xsd:string"/>
			<xsd:element name="Editable" type="xsd:boolean"/>
			<xsd:element name="Path" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigAvailableSensorList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigAvailableSensor" type="tns:ConfigAvailableSensor" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigAvailableSensor">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="SSIMId" type="xsd:long"/>
			<xsd:element name="Type" type="tns:ConfigSensorType"/>
			<xsd:element name="Latitude" type="xsd:double"/>
			<xsd:element name="Longitude" type="xsd:double"/>
			<xsd:element name="Altitude" type="xsd:double"/>
			<xsd:element name="Range" type="xsd:double" minOccurs="0"/>
			<xsd:element name="Doppler" type="xsd:double" minOccurs="0"/>
			<xsd:element name="Ang" type="xsd:double" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigSensorList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigSensor" type="tns:ConfigSensor" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigSensor">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="SensorId" type="xsd:long"/>
			<xsd:element name="Type" type="xsd:int"/>
			<xsd:element name="Latitude" type="xsd:double"/>
			<xsd:element name="Longitude" type="xsd:double"/>
			<xsd:element name="Altitude" type="xsd:double"/>
			<xsd:element name="Range" type="xsd:double" minOccurs="0"/>
			<xsd:element name="Doppler" type="xsd:double" minOccurs="0"/>
			<xsd:element name="Ang" type="xsd:double" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigCandidateList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigCandidate" type="tns:ConfigCandidate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigCandidate">
		<xsd:sequence>
			<xsd:element name="Filter" type="xsd:string"/>
			<xsd:element name="Active" type="xsd:boolean"/>
			<xsd:element name="ConfigurableSettings" type="tns:ConfigurableSettingsType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigurableSettingsType">
		<xsd:sequence>
			<xsd:element name="Parameter" type="xsd:string"/>
			<xsd:element name="ValueForManouverable" type="xsd:double"/>
			<xsd:element name="ValueForNonManouverable" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigDynamicModelList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigDynamicModel" type="tns:ConfigDynamicModel" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigDynamicModel">
		<xsd:sequence>
			<xsd:element name="Perturbation" type="xsd:string"/>
			<xsd:element name="Active" type="xsd:boolean"/>
			<xsd:element name="ConfigDynamicSettings" type="tns:ConfigDynamicSettingsType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigDynamicSettingsType">
		<xsd:sequence>
			<xsd:element name="Parameter" type="xsd:string"/>
			<xsd:element name="Value" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigEphGenerationList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigEphGeneration" type="tns:ConfigEphGeneration" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigEphGeneration">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
			<xsd:element name="PerigeeAltitudeRange" type="tns:ConfigOrbitType"/>
			<xsd:element name="generationFrequency" type="xsd:double"/>
			<xsd:element name="GenerationTimeStep" type="xsd:int"/>
			<xsd:element name="TimeSpanLength" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigHMIExecutionTimeList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigHMIExecutionTime" type="tns:ConfigHMIExecutionTime" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigHMIExecutionTime">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
			<xsd:element name="Service" type="tns:ConfigServiceType"/>
			<xsd:element name="TimeThreshold" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigHMITimeSpan">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="TimeSpan" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigLookUpTableList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigLookUpTable" type="tns:ConfigLookUpTable" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigLookUpTable">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
			<xsd:element name="OrbitType" type="tns:ConfigOrbitType"/>
			<xsd:element name="BatchTimeSpan" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigOperationModeList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigOperationMode" type="tns:ConfigOperationMode" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigOperationMode">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
			<xsd:element name="ServiceName" type="tns:ConfigServiceType"/>
			<xsd:element name="Automatic" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigThirdPartyDataList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigThirdPartyData" type="tns:ConfigThirdPartyData" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigThirdPartyData">
		<xsd:sequence>
			<xsd:element name="Entity" type="xsd:string"/>
			<xsd:element name="Active" type="xsd:boolean"/>
			<xsd:element name="PointOfContact" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigODThresholdList">
		<xsd:sequence>
			<xsd:element name="ConfigId" type="xsd:string"/>
			<xsd:element name="ConfigODThreshold" type="tns:ConfigODThreshold" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigODThreshold">
		<xsd:sequence>
			<xsd:element name="Observable" type="xsd:string"/>
			<xsd:element name="Threshold" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  SST Data Processing -->
	<xsd:complexType name="ObservationDataRequest">
		<xsd:sequence>
			<xsd:element name="RequestId" type="xsd:long"/>
			<xsd:element name="SensorId" type="xsd:long"/>
			<xsd:element name="SensorTypeId" type="xsd:int"/>
			<xsd:element name="RequestStatus" type="tns:SubmitRequestStatusType"/>
			<xsd:element name="RequestPending" type="tns:SubmitRequestPendingType" minOccurs="0"/>
			<xsd:element name="RequestPendingStart" type="ndm:epochType"/>
			<xsd:element name="CorrelationId" type="xsd:long"/>
			<xsd:element name="ODProcessId" type="xsd:long"/>
			<xsd:element name="QualityId" type="xsd:long"/>
			<xsd:element name="CorrelateObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="SubmitObservationDataRequest" type="xsd:base64Binary"/>
			<xsd:element name="OriginalRequest" type="xsd:base64Binary"/>
			<xsd:element name="DataStartTime" type="ndm:epochType"/>
			<xsd:element name="DataEndTime" type="ndm:epochType"/>
			<xsd:element name="DataCreation" type="ndm:epochType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyDataRequest">
		<xsd:sequence>
			<xsd:element name="RequestId" type="xsd:long"/>
			<xsd:element name="RequestStatus" type="tns:SubmitRequestStatusType"/>
			<xsd:element name="RequestPending" type="tns:SubmitRequestPendingType" minOccurs="0"/>
			<xsd:element name="RequestPendingStart" type="ndm:epochType"/>
			<xsd:element name="CorrelationId" type="xsd:long"/>
			<xsd:element name="QualityId" type="xsd:long"/>
			<xsd:element name="CorrelateObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="SubmitThirdPartyDataRequest" type="xsd:base64Binary"/>
			<xsd:element name="OriginalRequest" type="xsd:base64Binary"/>
			<xsd:element name="IntendedManeuver" type="xsd:boolean"/>
			<xsd:element name="DataStartTime" type="ndm:epochType"/>
			<xsd:element name="DataCreation" type="ndm:epochType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ManeuverDataRequest">
		<xsd:sequence>
			<xsd:element name="RequestId" type="xsd:long"/>
			<xsd:element name="RequestStatus" type="tns:SubmitRequestStatusType"/>
			<xsd:element name="SubmitManeuverDataRequest" type="xsd:base64Binary"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SubmitRequestStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INGESTED"/>
			<xsd:enumeration value="LATE_ARRIVAL"/>
			<xsd:enumeration value="ACCEPTED"/>
			<xsd:enumeration value="REJECTED"/>
			<xsd:enumeration value="PROCESSING"/>
			<xsd:enumeration value="PENDING"/>
			<xsd:enumeration value="CONFIRMED"/>
			<xsd:enumeration value="FINISH"/>
			<xsd:enumeration value="ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubmitRequestPendingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CORRELATION"/>
			<xsd:enumeration value="ACCEPT_OBSERVATIONS"/>
			<xsd:enumeration value="UPDATE_CATALOG"/>
			<xsd:enumeration value="PLANNING_REQUEST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ConfirmProcessData">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="Action" type="xsd:string"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  HMI Process Monitoring -->
	<xsd:simpleType name="InputRequestStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACCEPTED"/>
			<xsd:enumeration value="REJECTED"/>
			<xsd:enumeration value="ONGOING_OK"/>
			<xsd:enumeration value="ONGOING_EXCEED"/>
			<xsd:enumeration value="FINISH_OK"/>
			<xsd:enumeration value="FINISH_EXCEED"/>
			<xsd:enumeration value="ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OutputRequestStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ERROR"/>
			<xsd:enumeration value="RAISED"/>
			<xsd:enumeration value="PROCESSED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CorrelationProcessInfo">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="SensorId" type="xsd:long"/>
			<xsd:element name="SensorTypeId" type="xsd:int"/>
			<xsd:element name="ProcessType" type="xsd:string"/>
			<xsd:element name="ProcessStatus" type="tns:InputRequestStatusType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="AssociatedIODProcess" type="xsd:long"/>
			<xsd:element name="AssociatedODProcess" type="xsd:long"/>
			<xsd:element name="NewObject" type="xsd:boolean"/>
			<xsd:element name="SuccessCorrelation" type="xsd:boolean"/>
			<xsd:element name="Candidates" type="tns:CorrelationCandidate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CorrelationCandidate">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="CorrelationMarks" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODProcessInfo">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="RequestId" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="ObservationType" type="xsd:string"/>
			<xsd:element name="ProcessType" type="xsd:string"/>
			<xsd:element name="ProcessStatus" type="tns:InputRequestStatusType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="NewObject" type="xsd:boolean"/>
			<xsd:element name="InitialOD" type="xsd:boolean"/>
			<xsd:element name="SuccessOD" type="xsd:boolean"/>
			<xsd:element name="AssociatedQuality" type="xsd:long"/>
			<xsd:element name="Observations" type="tns:ODObservation" maxOccurs="unbounded"/>
			<xsd:element name="StateVector" type="tns:ODStateVector"/>
			<xsd:element name="OrbitalElements" type="tns:ODOrbitalElements"/>
			<xsd:element name="Uncertainty" type="tns:ODUncertainty"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODMeasuresType">
		<xsd:sequence>
			<xsd:element name="ODProcessId" type="xsd:long"/>
			<xsd:element name="SensorId" type="xsd:long"/>
			<xsd:element name="Measures" type="tns:ObservationMeasureType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObservationMeasureType">
		<xsd:sequence>
			<xsd:element name="MeasureId" type="xsd:long"/>
			<xsd:element name="ObservationId" type="xsd:long"/>
			<xsd:element name="Epoch" type="ndm:epochType"/>
			<xsd:element name="EpochMJD" type="xsd:double"/>
			<xsd:element name="Angle1_value" type="xsd:double"/>
			<xsd:element name="Angle1_residual" type="xsd:double"/>
			<xsd:element name="Angle1_used" type="xsd:boolean"/>
			<xsd:element name="Angle2_value" type="xsd:double"/>
			<xsd:element name="Angle2_residual" type="xsd:double"/>
			<xsd:element name="Angle2_used" type="xsd:boolean"/>
			<xsd:element name="Doppler_value" type="xsd:double"/>
			<xsd:element name="Doppler_residual" type="xsd:double"/>
			<xsd:element name="Doppler_used" type="xsd:boolean"/>
			<xsd:element name="Mag_value" type="xsd:double"/>
			<xsd:element name="Mag_residual" type="xsd:double"/>
			<xsd:element name="Mag_used" type="xsd:boolean"/>
			<xsd:element name="Range_value" type="xsd:double"/>
			<xsd:element name="Range_residual" type="xsd:double"/>
			<xsd:element name="Range_used" type="xsd:boolean"/>
			<xsd:element name="Rcs_value" type="xsd:double"/>
			<xsd:element name="Rcs_residual" type="xsd:double"/>
			<xsd:element name="Rcs_used" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODObservation">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:long"/>
			<xsd:element name="ObservationId" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODStateVector">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:long"/>
			<xsd:element name="X" type="xsd:double"/>
			<xsd:element name="Y" type="xsd:double"/>
			<xsd:element name="Z" type="xsd:double"/>
			<xsd:element name="X_DOT" type="xsd:double"/>
			<xsd:element name="Y_DOT" type="xsd:double"/>
			<xsd:element name="Z_DOT" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODOrbitalElements">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:long"/>
			<xsd:element name="SemimajorAxis" type="xsd:double"/>
			<xsd:element name="Eccentricity" type="xsd:double"/>
			<xsd:element name="Inclination" type="xsd:double"/>
			<xsd:element name="RightAscension" type="xsd:double"/>
			<xsd:element name="ArgumentOfPerigee" type="xsd:double"/>
			<xsd:element name="TrueAnomaly" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODUncertainty">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:long"/>
			<xsd:element name="AlongTrack" type="xsd:double"/>
			<xsd:element name="CrosTrack" type="xsd:double"/>
			<xsd:element name="Radial" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanningRequestInfo">
		<xsd:sequence>
			<xsd:element name="PlanningRequestId" type="xsd:long"/>
			<xsd:element name="ConversationId" type="xsd:string"/>
			<xsd:element name="PlanningRequestStatus" type="xsd:string"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="RequestStatus" type="tns:OutputRequestStatusType"/>
			<xsd:element name="RequestTime" type="ndm:epochType"/>
			<xsd:element name="ExpirationTime" type="ndm:epochType"/>
			<xsd:element name="ReqImpInAccuracy" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QualityProcessInfo">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="ProcessStatus" type="tns:InputRequestStatusType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="AccViolationFlag" type="xsd:boolean"/>
			<xsd:element name="ViolationTime" type="ndm:epochType"/>
			<xsd:element name="PlanningRequestFlag" type="xsd:boolean"/>
			<xsd:element name="PlanningRequestId" type="xsd:long"/>
			<xsd:element name="SuccessProcess" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObservationProcessInfo">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="SensorId" type="xsd:long"/>
			<xsd:element name="SensorTypeId" type="xsd:int"/>
			<xsd:element name="CorrelationId" type="xsd:long"/>
			<xsd:element name="ProcessStatus" type="tns:InputRequestStatusType"/>
			<xsd:element name="ReceptionTime" type="ndm:epochType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="UsedInDPC" type="xsd:boolean"/>
			<xsd:element name="SuccessProcess" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyProcessInfo">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="Provider" type="xsd:string"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="CorrelationId" type="xsd:long"/>
			<xsd:element name="ProcessStatus" type="tns:InputRequestStatusType"/>
			<xsd:element name="ReceptionTime" type="ndm:epochType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="UsedInDPC" type="xsd:boolean"/>
			<xsd:element name="SuccessProcess" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogUpdateProcessInfo">
		<xsd:sequence>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="ProcessStatus" type="tns:InputRequestStatusType"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="SuccessProcess" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DPCStatusInfo">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="host" type="xsd:string"/>
			<xsd:element name="customstatus" type="xsd:string"/>
			<xsd:element name="status" type="moag:MonitoringStatusType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- SensorObservationData -->
	<xsd:complexType name="ObservationDataInfo">
		<xsd:sequence>
			<xsd:element name="ObservationId" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="SensorId" type="xsd:long"/>
			<xsd:element name="SensorTypeId" type="xsd:int"/>
			<xsd:element name="TrackingData" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyDataInfo">
		<xsd:sequence>
			<xsd:element name="RequestId" type="xsd:long"/>
			<xsd:element name="ThirdPartyId" type="xsd:long"/>
			<xsd:element name="Provider" type="xsd:string"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="InitTime" type="ndm:epochType"/>
			<xsd:element name="EndTime" type="ndm:epochType"/>
			<xsd:element name="Ephemerides" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DPCCatalogDataListType">
		<xsd:sequence>
			<xsd:element name="ObjectData" type="tns:DPCCatalogDataType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- DPC Data Catalog: this catalog will contain extra information required by the DPC -->
	<xsd:complexType name="DPCCatalogDataType">
		<xsd:sequence>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="ObjectName" type="xsd:string"/>
			<xsd:element name="Satno" type="xsd:long"/>
			<xsd:element name="CosparId" type="xsd:string"/>
			<xsd:element name="Area" type="xsd:double"/>
			<xsd:element name="Mass" type="xsd:double"/>
			<xsd:element name="RCS" type="xsd:double"/>
			<xsd:element name="AbsMagnitude" type="xsd:double"/>
			<xsd:element name="SvEpoch" type="ndm:epochType"/>
			<xsd:element name="SvMJD2000" type="xsd:string"/>
			<xsd:element name="SemimajorAxis" type="xsd:double"/>
			<xsd:element name="Eccentricity" type="xsd:double"/>
			<xsd:element name="Inclination" type="xsd:double"/>
			<xsd:element name="RightAscension" type="xsd:double"/>
			<xsd:element name="ArgumentOfPerigee" type="xsd:double"/>
			<xsd:element name="TrueAnomaly" type="xsd:double"/>
			<xsd:element name="AlongTrack" type="xsd:double"/>
			<xsd:element name="CrossTrack" type="xsd:double"/>
			<xsd:element name="Radial" type="xsd:double"/>
			<xsd:element name="StateVector11" type="xsd:string"/>
			<xsd:element name="SvParameters" type="tns:StateVectorParametersType"/>
			<xsd:element name="CovMatrix11" type="xsd:string"/>
			<xsd:element name="OrbitElement6" type="xsd:string"/>
			<xsd:element name="CovAddData" type="tns:CovarianceMatrixAddDataType"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="AccuracyEnvelopeViolated" type="xsd:boolean"/>
			<xsd:element name="PlanningReqExpiration" type="ndm:epochType"/>
			<xsd:element name="NewObject" type="xsd:boolean"/>
			<xsd:element name="IncludesThirdPartyData" type="xsd:boolean"/>
			<xsd:element name="ReentryTime" type="ndm:epochType"/>
			<xsd:element name="Decayed" type="xsd:boolean"/>
			<xsd:element name="UpdateTime" type="ndm:epochType"/>
			<xsd:element name="CreationTime" type="ndm:epochType"/>
			<xsd:element name="VirtualObject" type="xsd:boolean"/>
			<xsd:element name="ManObjectId" type="xsd:long"/>
			<xsd:element name="ManEpochIgnition" type="ndm:epochType"/>
			<xsd:element name="ManConfirmed" type="xsd:boolean"/>
			<xsd:element name="ValidObject" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StateVectorParametersType">
		<xsd:sequence>
			<xsd:element name="CD" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>drag coefficient</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CREFL" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>solar radiation pressure or reflectivity coefficient</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CovarianceMatrixAddDataType">
		<xsd:sequence>
			<xsd:element name="Cd_Cd" type="xsd:double"/>
			<xsd:element name="Cd_CREFL" type="xsd:double"/>
			<xsd:element name="CREFL_CREFL" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Store processed request pending to maintenance -->
	<xsd:complexType name="RequestMaintenance">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:long"/>
			<xsd:element name="ProcessId" type="xsd:long"/>
			<xsd:element name="ObjectId" type="xsd:long"/>
			<xsd:element name="ObjectName" type="xsd:string"/>
			<xsd:element name="Satno" type="xsd:long"/>
			<xsd:element name="CosparId" type="xsd:string"/>
			<xsd:element name="SvEpoch" type="ndm:epochType"/>
			<xsd:element name="SvMJD2000" type="xsd:string"/>
			<xsd:element name="Area" type="xsd:double"/>
			<xsd:element name="Mass" type="xsd:double"/>
			<xsd:element name="SemimajorAxis" type="xsd:double"/>
			<xsd:element name="Eccentricity" type="xsd:double"/>
			<xsd:element name="Inclination" type="xsd:double"/>
			<xsd:element name="RightAscension" type="xsd:double"/>
			<xsd:element name="ArgumentOfPerigee" type="xsd:double"/>
			<xsd:element name="TrueAnomaly" type="xsd:double"/>
			<xsd:element name="StateVector11" type="xsd:string"/>
			<xsd:element name="CovMatrix11" type="xsd:string"/>
			<xsd:element name="Cdrag" type="xsd:double"/>
			<xsd:element name="Crefl" type="xsd:double"/>
			<xsd:element name="OrbitTypeId" type="xsd:int"/>
			<xsd:element name="AccThres0" type="xsd:double"/>
			<xsd:element name="AccThres1" type="xsd:double"/>
			<xsd:element name="AccThres2" type="xsd:double"/>
			<xsd:element name="AccThres3" type="xsd:double"/>
			<xsd:element name="AccThres4" type="xsd:double"/>
			<xsd:element name="AccThres5" type="xsd:double"/>
			<xsd:element name="AccuracyEnvelopeViolated" type="xsd:boolean"/>
			<xsd:element name="AccViolatedEpoch" type="ndm:epochType"/>
			<xsd:element name="UpdateTime" type="ndm:epochType"/>
			<xsd:element name="Processed" type="xsd:boolean"/>
			<xsd:element name="Quality" type="xsd:boolean"/>
			<xsd:element name="Ephemeris" type="xsd:boolean"/>
			<xsd:element name="MeanElements" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
