templates/genserv/wsdl/MMSOService/MMSOServiceListener.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MMSOServiceListener" targetNamespace="http://esa.ssa.gen.catalogue/mmsos/listener/1.2/" xmlns:tns="http://esa.ssa.gen.catalogue/mmsos/listener/1.2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ssaRuntime="http://esa.ssa.common/ssaRuntimeService/">
	<wsdl:import location="../ssaRuntimeService.wsdl" namespace="http://esa.ssa.common/ssaRuntimeService/"/>
	<wsdl:import location="./MMSOServiceListenerInterface.wsdl" namespace="http://esa.ssa.gen.catalogue/mmsos/listener/1.2/"/>
	<wsdl:binding name="MMSOSListenerInterfaceBinding" type="tns:MMSOServiceListenerInterface">
		<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="onCreateObject">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onCreateObject/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onUpdateObject">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onUpdateObject/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onDeleteObject">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onDeleteObject/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onMergeObject">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onMergeObject/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onUpdateCatalogueOrbitalInfo">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onUpdatOrbitalInfoObject/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onOrbitUpdateDeadline">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onOrbitUpdateDeadline/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="onUpdateManoeuvreInfo">
			<soap:operation soapAction="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/onUpdateManoeuvreInfo/"/>
			<wsdl:input>
				<soap:header message="ssaRuntime:SSARuntimeMessage" part="header" use="literal"/>
				<soap:body parts="in" use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MMSOServiceListener">
		<wsdl:port binding="tns:MMSOSListenerInterfaceBinding" name="MMSOSListenerInterfacePort">
			<soap:address location="http://esa.ssa.gen.catalogue/mmsos/service/1.2/MMSOServiceListener/MMSOSListenerInterfacePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
