templates/SST_Core/PS/SSA-SST-PS-ICD-0001_2_1-WSDL/SensorPlanningRequestService/SensorPlanningRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="v1_0"
    targetNamespace="http://esa.ssa.sst.planning/SensorPlanningRequest/service/v1_0/"
    xmlns:tns="http://esa.ssa.sst.planning/SensorPlanningRequest/service/v1_0/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema
            targetNamespace="http://esa.ssa.sst.planning/SensorPlanningRequest/service/v1_0/"
            xmlns:prt="http://esa.ssa.sst/1.5/common/planning/">

            <xsd:import
                namespace="http://esa.ssa.sst/1.5/common/planning/"
                schemaLocation="./../CommonSSTDataModel/XSD/esa/ssa/sst/common/planning/planning.xsd" />    
          
            <xsd:element name="SubmitTrackingRequest" type="prt:TrackingRequestType" />
            <xsd:element name="SubmitTrackingHighPriorityRequest"
                type="prt:TrackingRequestType" />
            <xsd:element name="SubmitResponse" type="prt:RequestResponseType" />
            <xsd:element name="SubmitHighPriorityResponse"
                type="prt:RequestResponseType" />
            <xsd:element name="SubmitTaskedSurveyResponse"
                type="prt:RequestResponseType" />
            <xsd:element name="SubmitTaskedSurveyHighPriorityResponse"
                type="prt:RequestResponseType" />
            <xsd:element name="SubmitTaskedSurveyRequest"
                type="prt:TaskedSurveyRequestType" />
            <xsd:element name="SubmitTaskedSurveyHighPriorityRequest"
                type="prt:TaskedSurveyRequestType" />
            <xsd:element name="BadCategoryFault" type="prt:ErrorDataType" />
            <xsd:element name="DeadLineFault" type="prt:ErrorDataType" />
            <xsd:element name="BadObjectIdFault" type="prt:ErrorDataType" />
            <xsd:element name="ProcessPetitionFault" type="prt:ErrorDataType" />
            <xsd:element name="RequiredObjectIdFault" type="prt:ErrorDataType">
                <xsd:annotation>
                    <xsd:documentation>Error raised if the ssaObjectId
                        and neither the internationalObjectId are
                        provided in a request.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequiredObservationDuration"
                type="prt:ErrorDataType">
                <xsd:annotation>
                    <xsd:documentation>For a survey request the object
                        accuracy target or the maximum and minimum
                        duration shall be set. This error will be raised
                        if the accuracy target or the duration is not
                        specified.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="submitRequestMessage">
        <wsdl:part element="tns:SubmitTrackingRequest" name="trackingRequest" />
    </wsdl:message>
    <wsdl:message name="submitResponseMessage">
        <wsdl:part element="tns:SubmitResponse" name="submitResponse" />
    </wsdl:message>
    <wsdl:message name="submitHighPriorityRequestMessage">
        <wsdl:part element="tns:SubmitTrackingHighPriorityRequest"
            name="trackingHighPriorityRequest" />
    </wsdl:message>
    <wsdl:message name="submitHighPriorityResponseMessage">
        <wsdl:part element="tns:SubmitHighPriorityResponse"
            name="responsePriority" />
    </wsdl:message>
    <wsdl:message name="deadLineFaultMessage">
        <wsdl:part element="tns:DeadLineFault" name="deadlineError" />
    </wsdl:message>
    <wsdl:message name="badObjectIdFaultMessage">
        <wsdl:part element="tns:BadObjectIdFault" name="badObjectId" />
    </wsdl:message>
    <wsdl:message name="requiredObjectIdFaultMessage">
        <wsdl:part element="tns:RequiredObjectIdFault" name="requiredObjectId" />
    </wsdl:message>
    <wsdl:message name="requiredObservationDurationFaultMessage">
        <wsdl:part element="tns:RequiredObservationDuration"
            name="requiredObservationDuration" />
    </wsdl:message>
    <wsdl:message name="processPetitionFaultMessage">
        <wsdl:part element="tns:ProcessPetitionFault" name="processPetitionError" />
    </wsdl:message>
    <wsdl:message name="submitSurveyRequestMessage">
        <wsdl:part element="tns:SubmitTaskedSurveyRequest"
            name="surveyRequest" />
    </wsdl:message>
    <wsdl:message name="submitSurveyResponseMessage">
        <wsdl:part element="tns:SubmitTaskedSurveyResponse"
            name="surveyResponse" />
    </wsdl:message>
    <wsdl:message name="submitHighPrioritySurveyRequestMessage">
        <wsdl:part element="tns:SubmitTaskedSurveyHighPriorityRequest"
            name="surveyRequestPriority" />
    </wsdl:message>
    <wsdl:message name="submitHighPrioritySurveyResponseMessage">
        <wsdl:part element="tns:SubmitTaskedSurveyHighPriorityResponse"
            name="surveyResponsePriority" />
    </wsdl:message>

    <wsdl:portType name="SensorPlanningRequestInterface">
        <wsdl:operation name="submit">
            <wsdl:input message="tns:submitRequestMessage" />
            <wsdl:output message="tns:submitResponseMessage" />
            <wsdl:fault message="tns:deadLineFaultMessage"
                name="deadLineFaultMessage" />
            <wsdl:fault message="tns:badObjectIdFaultMessage"
                name="badObjectIdFaultMessage" />
            <wsdl:fault message="tns:processPetitionFaultMessage"
                name="processPetitionFaultMessage" />
            <wsdl:fault message="tns:requiredObjectIdFaultMessage"
                name="requiredObjectIdFaultMessage" />
        </wsdl:operation>
        <wsdl:operation name="submitHighPriority">
            <wsdl:input message="tns:submitHighPriorityRequestMessage" />
            <wsdl:output message="tns:submitHighPriorityResponseMessage" />
            <wsdl:fault message="tns:deadLineFaultMessage"
                name="deadLineFaultMessage" />
            <wsdl:fault message="tns:badObjectIdFaultMessage"
                name="badObjectIdFaultMessage" />
            <wsdl:fault message="tns:processPetitionFaultMessage"
                name="processPetitionFaultMessage" />
            <wsdl:fault message="tns:requiredObjectIdFaultMessage"
                name="requiredObjectIdFaultMessage" />
        </wsdl:operation>
        <wsdl:operation name="submitSurveyPlanningRequest">
            <wsdl:input message="tns:submitSurveyRequestMessage" />
            <wsdl:output message="tns:submitSurveyResponseMessage" />
            <wsdl:fault message="tns:deadLineFaultMessage"
                name="deadLineFaultMessage" />
            <wsdl:fault message="tns:processPetitionFaultMessage"
                name="processPetitionFaultMessage" />
            <wsdl:fault message="tns:requiredObservationDurationFaultMessage" 
            	name="requiredObservationDurationFaultMessage"/>                
        </wsdl:operation>
        <wsdl:operation name="submitHighPrioritySurveyRequest">
            <wsdl:input message="tns:submitHighPrioritySurveyRequestMessage" />
            <wsdl:output message="tns:submitHighPrioritySurveyResponseMessage" />
            <wsdl:fault message="tns:deadLineFaultMessage"
                name="deadLineFaultMessage" />
            <wsdl:fault message="tns:processPetitionFaultMessage"
                name="processPetitionFaultMessage" />
            <wsdl:fault message="tns:requiredObservationDurationFaultMessage" 
            	name="requiredObservationDurationFaultMessage"/>    
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>