templates/commonSSTDataModel/esa/ssa/sst/debris/debris.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://esa.ssa.sst/2.1/debris/" xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/" xmlns:catorb="http://esa.ssa.sst/2.1/catalogue/orbit/" xmlns:cattr="http://esa.ssa.sst/2.1/catalogue/track/" xmlns:com="http://esa.ssa.sst/2.1/common/" xmlns:compl="http://esa.ssa.sst/2.1/common/planning/" xmlns:comsenc="http://esa.ssa.sst/2.1/common/sensors/common/" xmlns:comsst="http://esa.ssa.sst/2.1/common/sst/" xmlns:deb="http://esa.ssa.sst/2.1/debris/" xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/object/" schemaLocation="../catalogue/object/object.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/track/" schemaLocation="../catalogue/track/track.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/orbit/" schemaLocation="../catalogue/orbit/orbit.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/common/sensors/common/" schemaLocation="../common/sensors/common/common.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/common/sst/" schemaLocation="../common/sst/sst.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/common/planning/" schemaLocation="../common/planning/planning.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/common/" schemaLocation="../common/common.xsd"/>
  <xsd:import namespace="urn:ccsds:recommendation:navigation:schema:ndmxml" schemaLocation="../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd"/>
  <xsd:complexType name="ParticleFlux">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Particle flux estimates.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idParticleFlux" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactVelocity" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Velocity of the impactor. Unit Meter per Second.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactAzimuth" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Azimuth of the impact location. Unit is radian.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactElevation" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Elevation of the impact location. Unit is radian.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactorMass" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Mass of the impactor object. Unit in Kg.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="impactorSize" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Impactor size of the object. Unit Meter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="time" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Time the impact referred. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="impactorOrbitalParameters" type="deb:Detection">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Orbital parameters of the impactor object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObservationRequest">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Observation request received from a user to a sensor. The request needs to be implemented under some constraints.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:AbstractRequest">
        <xsd:sequence>
          <xsd:element name="receptionDate" type="ndm:epochType">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Reception date of the observation request. UTC Date.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="wishedStartDate" type="ndm:epochType">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Start date wished for the beginning of the observation wished by the user. UTC Date.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="endDate" type="ndm:epochType">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;End date of the observation. UTC Date.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="trackingRequest" type="compl:PlanningRequestType">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The tracking request formulated for the observation request.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="user" type="comsst:User">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;User that request the SST.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="observationCampaign" type="com:ObservationCampaignRef">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The observation campaign the request is about.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ObservationCampaign">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Observation Campaign that the SST can organize. It mainly censes the sensors used, the start and the duration of the campaign.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idCampaign" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sensorGEO" type="comsenc:SensorType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;GEO sensor required for the observation campaign.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sensorUpperMEO" type="comsenc:SensorType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Upper-MEO sensor required for the observation campaign.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sensorLEO" type="comsenc:SensorType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;LEO sensor required for the observation campaign.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="start" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Start date of the observation campaign. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberOfDays" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Duration of the observation campaign. Unit is days.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="detection" type="deb:Detection">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Detections made during the campaign.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="observationRequest" type="deb:ObservationRequest">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The request that caused this campaign.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MeteroidStream">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Meteroid stream the SST keep trace.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idMeteroidStream" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="startAppearance" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Appearance start date of the meteroid stream. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endAppearance" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Appearance end date of the meteroid stream. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maximumZenithalHourlyRates" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Maximum zenithal hourly rate of objects in the stream. Unit Objects Per Hour.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="detection" type="deb:Detection">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Object detected during the campaign.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Detection">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Objects detected during an observation campaign. Those objects may be correlated with the ones in database or not.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idDetection" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timeOfDetection" type="ndm:epochType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Time the object is detected. UTC time-frame.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estimatedOrbitParameters" type="catorb:Orbit">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Estimated orbit parameters of the given object.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isCorrelated" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Boolean indicating if the object has been correlated with the existing ones in the catalog or if it is new.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="measuredParameters" type="cattr:SSTTrackingDataObservationType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Measured parameters of the objects given by the sensor to compute the orbit.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sensor" type="comsenc:SensorType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Parameters the sensor used to make the observation in term of signal for instance.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="correlatedObject" type="catobj:Object">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;The object which is correlated to the detection if it already exists in the database.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>