templates/SSIM/v2.0/SSIMCommonTypes/ssim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns:ssim="http://esa.ssa/ssim/2.0/ssim"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/" 
	targetNamespace="http://esa.ssa/ssim/2.0/ssim">
	<xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/object/" schemaLocation="../../../../commonSSTDataModel/esa/ssa/sst/catalogue/object/object.xsd"/>
	<xsd:simpleType name="SSIMAsynchConfirmationCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="REQUEST SUCESSFUL" />
			<xsd:enumeration
				value="SENSOR SIMULATOR OPERATION EXCEPTION" />
			<xsd:enumeration value="FAILED NO SHOW" />
			<xsd:enumeration value="FAILED WEATHER" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SSIMAsynchConfirmationCodeType"
		type="ssim:SSIMAsynchConfirmationCodeType" />
	<xsd:simpleType name="SSIMConfirmationCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="REQUEST ACCEPTED" />
			<xsd:enumeration value="REQUEST REJECTED" />
			<xsd:enumeration value="SUCCESSFUL SENSOR CREATION" />
			<xsd:enumeration value="SUCCESSFUL SENSOR DELETION" />
			<xsd:enumeration value="SUCCESSFUL SENSOR DATA RETRIEVAL" />
			<xsd:enumeration value="SUCCESSFUL SENSOR UPDATE" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SSIMConfirmationCodeType"
		type="ssim:SSIMConfirmationCodeType" />
	<xsd:complexType name="SSIMConfirmationType">
		<xsd:complexContent>
			<xsd:extension base="ssim:SSIMObjectResponseType">
				<xsd:sequence>
					<xsd:element ref="ssim:SSIMConfirmationCodeType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SSIMConfirmationType"
		type="ssim:SSIMConfirmationType"
		substitutionGroup="ssim:SSIMObjectResponseType" />
	<xsd:simpleType name="SSIMErrorCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SENSOR SIMULATOR RUNTIME EXCEPTION" />
			<xsd:enumeration
				value="SENSOR SIMULATOR OPERATION EXCEPTION" />
			<xsd:enumeration value="ARCHIVE SERVICE NOT AVAILABLE" />
			<xsd:enumeration value="SENSOR ID DOES NOT EXIST" />
			<xsd:enumeration value="INPUT PARAMETER EXCEPTION" />
			<xsd:enumeration
				value="UNABLE TO GET SENSOR SIMULATOR CURRENT STATUS" />
			<xsd:enumeration value="UNABLE TO START SENSOR SIMULATOR" />
			<xsd:enumeration value="UNABLE TO STOP SENSOR SIMULATOR" />
			<xsd:enumeration value="SENSORS DATABASE NOT AVAILABLE" />
				<xsd:enumeration value="REQUEST REJECTED" />
					<xsd:enumeration value="SHELL SERVICE ERROR" />
					<xsd:enumeration value="FILE SERVICE ERROR" />
					<xsd:enumeration value="SENSOR ID ALREADY EXIST" />
					<xsd:enumeration value="MISMATCHING SENSOR ID" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SSIMErrorCodeType" type="ssim:SSIMErrorCodeType" />
	<xsd:complexType name="SSIMErrorType">
		<xsd:complexContent>
			<xsd:extension base="ssim:SSIMObjectResponseType">
				<xsd:sequence>
					<xsd:element ref="ssim:SSIMErrorCodeType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SSIMErrorType" type="ssim:SSIMErrorType"
		substitutionGroup="ssim:SSIMObjectResponseType" />
	<xsd:complexType name="SSIMObjectResponseType" abstract="true" />
	<xsd:element name="SSIMObjectResponseType"
		type="ssim:SSIMObjectResponseType" />
	<xsd:simpleType name="SSIMMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SOA" />
			<xsd:enumeration value="STANDALONE" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SSIMConfigurationType">
		<xsd:sequence>
			<!-- General Configuration Parameters -->
			<xsd:element name="ssimMode" type="ssim:SSIMMode">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Runtime mode for the SSIM.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ftpServerHost" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;IP address of SSIM FTP
						server.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ftpServerPort" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Port of SSIM FTP server.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ftpServerPublicFolder"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Public folder of SSIM FTP server where
						the observations requests shall be read by the
						SIMSAT Request Handler.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Local Storage Configuration Parameters -->
			<xsd:element name="configFilePath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM general configuration file.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorsFilePath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM Sensors configuration files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="simsatLogFilesPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SIMSAT log files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="algorithmsLogFilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM algorithms log files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="populationSSTFilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM SSTpopulation files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="populationNEOFilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM NEO population files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propagationATMOPFilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM ATMOP propagation files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propagationEGM96FilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM EGM96 propagation files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propagationEphemerisFilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM Ephemeris propagation files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="propagationIERSFilesPath"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM IERS propagation files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="scenariosFilesPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM scenarios files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="schemasFilesPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM and Common SST Data Model schemas
						files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inputRequestsPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM input shared folder for receiving
						observation requests from the SPS.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="outputResponsesPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM output shared folder for storing simulation
						responses.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="outputTrackletsPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM output shared folder for sending tracklets
						to the DPC.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- SOA Configuration Parameters -->
			<xsd:element name="sensorSimulatorServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the Sensor Simulator
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the Sensor
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorSimulatorMonitoringServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the Sensor Simulator
						Monitoring Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="authenticationServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic
						Authentication Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shellServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic Shell
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fileServiceEndpoint" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic File
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="logServiceEndpoint" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic Log
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="logListenerServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic Log Listener
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notificationServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic Notification
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notificationListenerServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the generic Notification
						Listener Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorObservationListenerServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the SPS Sensor
						Observation Listener Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sweServiceEndpoint" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the SWE
						Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sstDataProcessingServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the DPC SST Data
						Processing Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="neoDataProcessingServiceEndpoint"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;URL to access the NEO SST Data
						Processing Service.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- HMI Configuration Parameters -->
			<xsd:element name="hmiLogFilesPath" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Relative path to the folder hosting the
						SSIM HMI log files.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pollingRate" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Polling frequency for SIMSAT Request
						Handler (seconds).&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SSIMScenarioType">
		<xsd:sequence>
			<xsd:element name="speedFactor" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Speed factor for SIMSAT
						Scheduler.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="simulationStartTime"
				type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Start time for SIMSAT.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="simulationEndTime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;End time for SIMSAT.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="simulationStep" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Simulation step for SIMSAT.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="initialSSTPopulationFile"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;initialSSTPopulationFile.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="initialNEOPopulationFile"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;initialNEOPopulationFile.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="runtimeSSTPopulationFile"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;runtimeSSTPopulationFile.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="runtimeNEOPopulationFile"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;runtimeNEOPopulationFile.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="populationUpdateStep"
				type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;populationUpdateStep.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationSensorConfigUpdate">
		<xsd:sequence>
			<xsd:element name="sensorID" type="xsd:long" />
			<xsd:element name="changeType" type="ssim:ChangeTypeEnum" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationPopulationModelUpdate">
		<xsd:sequence>
			<xsd:element name="updatedEntityID" type="xsd:long" />
			<xsd:element name="changeType" type="ssim:ChangeTypeEnum" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationSSIMCriticalError">
		<xsd:sequence>
			<xsd:element name="SSIMcomponentID" type="xsd:long" />
			<xsd:element name="criticality" type="ssim:CriticalityEnum" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationSSIMRunningProcesses">
		<xsd:sequence>
			<xsd:element name="processesList"
				type="ssim:ProcessStatusType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationSSIMStartStatus">
		<xsd:sequence>
			<xsd:element name="startOperationStatus"
				type="ssim:OperationStatusEnum" />
			<xsd:element name="problemDescription" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationSSIMStopStatus">
		<xsd:sequence>
			<xsd:element name="stopOperationStatus"
				type="ssim:OperationStatusEnum" />
			<xsd:element name="problemDescription" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessStatusType">
		<xsd:sequence>
			<xsd:element name="processID" type="xsd:long" />
			<xsd:element name="status" type="ssim:ProcessStatusEnum" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ChangeTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CREATED" />
			<xsd:enumeration value="MODIFIED" />
			<xsd:enumeration value="DELETED" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CriticalityEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ERROR" />
			<xsd:enumeration value="WARNING" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RUNNING" />
			<xsd:enumeration value="NOT RUNNING" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OperationStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK" />
			<xsd:enumeration value="NOT OK" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="SpaceWeatherSensorType">
		<xsd:sequence>

			<xsd:element name="sensorType" type="xsd:int"></xsd:element>
			<xsd:element name="deltaT" type="catobj:CosparId"></xsd:element>
			<xsd:element name="objectID" type="xsd:string"></xsd:element>
			<xsd:element name="deltaTDownload" type="xsd:double"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
