templates/commonSSTDataModel/esa/ssa/sst/catalogue/track/track.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by mjep (dms) -->
<xsd:schema targetNamespace="http://esa.ssa.sst/2.1/catalogue/track/" xmlns:cattr="http://esa.ssa.sst/2.1/catalogue/track/" xmlns:compl="http://esa.ssa.sst/2.1/common/planning/" xmlns:comsenc="http://esa.ssa.sst/2.1/common/sensors/common/" xmlns:eCCSDS="http://esa.ssa.sst/2.1/CCSDS/" xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/sensors/common/" schemaLocation="../../common/sensors/common/common.xsd"/>
	<xsd:import namespace="urn:ccsds:recommendation:navigation:schema:ndmxml" schemaLocation="../../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd"/>
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/planning/" schemaLocation="../../common/planning/planning.xsd"/>
	<xsd:import namespace="http://esa.ssa.sst/2.1/CCSDS/" schemaLocation="../../extendedCCSDS/extendedCCSDS.xsd"/>
	<xsd:complexType name="SSTTrackingDataObservationType">
		<xsd:sequence>
			<xsd:element name="PlanningRequestID" type="xsd:long" minOccurs="0"/>
			<xsd:element name="measures" type="eCCSDS:extendedTdmType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Track">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents the observation of an object for a given time period. This observation results in a set of measures, one for each instant parameters are measured.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trackData" type="eCCSDS:extendedTdmType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Products and values given by the sensor. &lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedErrors" type="cattr:EstimatedErrorModel" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The estimated error model for the set of measures.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sourceRequest" type="compl:TrackingRequestType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The request at the origin of these measures.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RadarMeasure">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents an observation of an object at a given time performed by a radar sensor.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cattr:Measure">
				<xsd:sequence>
					<xsd:element name="azimuth" type="cattr:MeasuredParameter">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The azimuth of the measure expressed in radians.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elevation" type="cattr:MeasuredParameter">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The elevation of the measure expressed in radians.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="rangeRate" type="cattr:MeasuredParameter" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The measured object range rate expressed in kilometers per second (km/s).&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="rcs" type="cattr:MeasuredParameter" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The measured radar cross section expressed in square meters (m2).&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="range" type="cattr:MeasuredParameter" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The measured object range expressed in km.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OpticalMeasure">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents an observation of an object at a given time performed by an optical sensor.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorID" type="xsd:long"/>
			<xsd:element name="date" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The date the measure was performed. UTC Date.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="declination" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The declination of the measure expressed in radians.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rightAscension" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The right ascension of the measure expressed in radians.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="magnitude" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The apparent visual magnitude. Unit less.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeasuredParameter">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents the measure of a given parameter performed during the observation of an object at a given time. This measure results in a measured value and a residual.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The value of the parameter measured during the observation. Unit depends on the parameter type.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="residual" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The residual value on the measure of the parameter. &lt;span style="font-size:8pt;font-family:Tahoma;"&gt;The residual is the measure of the deviation of a measured sample from its predicted value.&lt;/span&gt; Unit depends on the parameter type.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeasuredDate">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents the measure of a date performed during an observation. This measure results in a measured value and a residual.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="date" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The value of the parameter measured during the observation. UTC time.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="residual" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The residual value on the measure of the parameter. &lt;span style="font-size:8pt;font-family:Tahoma;"&gt;The residual is the measure of the deviation of a measured sample from its predicted value. Unit is seconds.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Measure">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents the observation of an object at a given time. This observation results in a set of measured parameters.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="measureDate" type="cattr:MeasuredDate">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The date the measure was performed. UTC Date.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="signalStrength" type="cattr:MeasuredParameter">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The signal strength expressed in Joules.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snr" type="cattr:MeasuredParameter">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The signal noise ratio expressed in decibels (dB).&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EstimatedErrorModel">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Estimated errors given by the sensors for the observation.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="comsenc:SensorOutputParametersEnum">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The type of parameter for which an estimated error is provided.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bias" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Estimated bias on the measure of the product during the observation. Unit depends on type.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="drift" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Estimated drift on the measure of the product during the observation. Unit depends on type.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
