templates/SST_Core/DPC/dpc-1.7-wsdl/CatalogueQualityMonitoringService/Wsdl/CatalogueQualityMonitoringServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssa="http://ssa.esa.int/common/" xmlns:tns="http://esa.ssa/dpc/2.1/CatalogueQualityMonitoringServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:covpreq="http://esa.ssa/dpc/2.1/CheckOrbitValidityPeriodRequestType" xmlns:covpres="http://esa.ssa/dpc/2.1/CheckOrbitValidityPeriodResponseType" xmlns:svapreq="http://esa.ssa/dpc/2.1/SetValidityPeriodRequestType" xmlns:svapres="http://esa.ssa/dpc/2.1/SetValidityPeriodResponseType" xmlns:saclreq="http://esa.ssa/dpc/2.1/SetAccuracyLimitsRequestType" xmlns:saclres="http://esa.ssa/dpc/2.1/SetAccuracyLimitsResponseType" xmlns:gorqreq="http://esa.ssa/dpc/2.1/GenerateObservationRequestRequestType" xmlns:gorqres="http://esa.ssa/dpc/2.1/GenerateObservationRequestResponseType" xmlns:dpc="http://esa.ssa/dpc/2.1/dpc" name="dpc" targetNamespace="http://esa.ssa/dpc/2.1/CatalogueQualityMonitoringServiceSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="http://esa.ssa/dpc/2.1/CatalogueQualityMonitoringServiceSchema" version="1.0">
			<xsd:import namespace="http://esa.ssa/dpc/2.1/dpc" schemaLocation="../../DPCCommonTypes/dpc.xsd"/>
			<!--CheckOrbitValidityPeriod-->
			<xsd:import namespace="http://esa.ssa/dpc/2.1/CheckOrbitValidityPeriodRequestType" schemaLocation="../Schemas/CheckOrbitValidityPeriodRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/CheckOrbitValidityPeriodResponseType" schemaLocation="../Schemas/CheckOrbitValidityPeriodResponseType.xsd"/>
			<!--SetValidityPeriod-->
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SetValidityPeriodRequestType" schemaLocation="../Schemas/SetValidityPeriodRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SetValidityPeriodResponseType" schemaLocation="../Schemas/SetValidityPeriodResponseType.xsd"/>
			<!--SetAccuracyLimits-->
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SetAccuracyLimitsRequestType" schemaLocation="../Schemas/SetAccuracyLimitsRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SetAccuracyLimitsResponseType" schemaLocation="../Schemas/SetAccuracyLimitsResponseType.xsd"/>
			<!--GenerateObservationRequest-->
			<xsd:import namespace="http://esa.ssa/dpc/2.1/GenerateObservationRequestRequestType" schemaLocation="../Schemas/GenerateObservationRequestRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/GenerateObservationRequestResponseType" schemaLocation="../Schemas/GenerateObservationRequestResponseType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CatalogueQualityMonitoringServiceFaultMessageType">
		<wsdl:part name="fault" element="dpc:DPCErrorType"/>
	</wsdl:message>
	<wsdl:message name="CheckOrbitValidityPeriodRequestMessageType">
		<wsdl:part name="in" element="covpreq:CheckOrbitValidityPeriodRequestType"/>
	</wsdl:message>
	<wsdl:message name="CheckOrbitValidityPeriodResponseMessageType">
		<wsdl:part name="out" element="covpres:CheckOrbitValidityPeriodResponseType"/>
	</wsdl:message>
	<wsdl:message name="SetValidityPeriodRequestMessageType">
		<wsdl:part name="in" element="svapreq:SetValidityPeriodRequestType"/>
	</wsdl:message>
	<wsdl:message name="SetValidityPeriodResponseMessageType">
		<wsdl:part name="out" element="svapres:SetValidityPeriodResponseType"/>
	</wsdl:message>
	<wsdl:message name="SetAccuracyLimitsRequestMessageType">
		<wsdl:part name="in" element="saclreq:SetAccuracyLimitsRequestType"/>
	</wsdl:message>
	<wsdl:message name="SetAccuracyLimitsResponseMessageType">
		<wsdl:part name="out" element="saclres:SetAccuracyLimitsResponseType"/>
	</wsdl:message>
	<wsdl:message name="GenerateObservationRequestRequestMessageType">
		<wsdl:part name="in" element="gorqreq:GenerateObservationRequestRequestType"/>
	</wsdl:message>
	<wsdl:message name="GenerateObservationRequestResponseMessageType">
		<wsdl:part name="out" element="gorqres:GenerateObservationRequestResponseType"/>
	</wsdl:message>
	<wsdl:portType name="CatalogueQualityMonitoringServiceInterface">
		<!--checkOrbitValidityPeriod-->
		<wsdl:operation name="checkOrbitValidityPeriod">
			<wsdl:input message="tns:CheckOrbitValidityPeriodRequestMessageType"/>
			<wsdl:output message="tns:CheckOrbitValidityPeriodResponseMessageType"/>
			<wsdl:fault name="checkOrbitValidityPeriodFault" message="tns:CatalogueQualityMonitoringServiceFaultMessageType"/>
		</wsdl:operation>
		<!--setValidityPeriod-->
		<wsdl:operation name="setValidityPeriod">
			<wsdl:input message="tns:SetValidityPeriodRequestMessageType"/>
			<wsdl:output message="tns:SetValidityPeriodResponseMessageType"/>
			<wsdl:fault name="setValidityPeriodFault" message="tns:CatalogueQualityMonitoringServiceFaultMessageType"/>
		</wsdl:operation>
		<!--setAccuracyLimits-->
		<wsdl:operation name="setAccuracyLimits">
			<wsdl:input message="tns:SetAccuracyLimitsRequestMessageType"/>
			<wsdl:output message="tns:SetAccuracyLimitsResponseMessageType"/>
			<wsdl:fault name="setAccuracyLimitsFault" message="tns:CatalogueQualityMonitoringServiceFaultMessageType"/>
		</wsdl:operation>
		<!--generateObservationRequest-->
		<wsdl:operation name="generateObservationRequest">
			<wsdl:input message="tns:GenerateObservationRequestRequestMessageType"/>
			<wsdl:output message="tns:GenerateObservationRequestResponseMessageType"/>
			<wsdl:fault name="generateObservationRequestFault" message="tns:CatalogueQualityMonitoringServiceFaultMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
