templates/commonSSTDataModel/esa/ssa/sst/common/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by nuss (TeleTubby) -->
<xsd:schema targetNamespace="http://esa.ssa.sst/2.1/common/" xmlns:cateph="http://esa.ssa.sst/2.1/catalogue/ephemeredes/" xmlns:com="http://esa.ssa.sst/2.1/common/" xmlns:comsenoconf="http://esa.ssa.sst/2.1/common/sensors/optic/configuration" xmlns:comsst="http://esa.ssa.sst/2.1/common/sst/" xmlns:eCCSDS="http://esa.ssa.sst/2.1/CCSDS/" xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/sensors/optic/configuration" schemaLocation="sensors/optic/OpticConfigurationParameters/OpticConfigurationParameters.xsd"/>
	<xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/ephemeredes/" schemaLocation="../catalogue/ephemeredes/ephemeredes.xsd"/>
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/sst/" schemaLocation="sst/sst.xsd"/>
	<xsd:import namespace="http://esa.ssa.sst/2.1/CCSDS/" schemaLocation="../extendedCCSDS/extendedCCSDS.xsd"/>
	<xsd:import namespace="urn:ccsds:recommendation:navigation:schema:ndmxml" schemaLocation="../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd"/>
	<xsd:simpleType name="SegmentType">
		<xsd:annotation>
			<xsd:documentation>Segment's names
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SST"/>
			<xsd:enumeration value="NEO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngleDegreesWithUnitsType">
		<xsd:simpleContent>
			<xsd:extension base="com:AngleDegreesType">
				<xsd:attribute name="units" type="ndm:angleUnits" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AngleDegreesType">
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="360.0"/>
			<xsd:minInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ElevationRangeType">
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="90.0"/>
			<xsd:minInclusive value="-90.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HalfAngleDegreesType">
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="180.0"/>
			<xsd:minInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InformationData">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Information Data on files provided/used.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idFile" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fileName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;File name.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fileVersion" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;File version.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="date" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Date of the file. UTC time-frame.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RectangleArea">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Defines a rectangular area on the surface of the Earth.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="maximumLatitude" type="eCCSDS:LatitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The maximum latitude value defining this area.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maximumLongitude" type="eCCSDS:LongitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The maximum longitude value defining this area.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minimumLatitude" type="eCCSDS:LatitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The minimum latitude value defining this area.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minimumLongitude" type="eCCSDS:LongitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The minimum longitude value defining this area.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="referenceFrame" type="com:FrameEnum">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Reference frame.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RectangleVolume">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Defines a rectangular volume on the surface of the Earth.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="referenceFrame" type="com:FrameEnum">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Reference frame.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ellipsoid" type="com:EllipsoidEnum"/>
			<xsd:element name="minimumAltitude" type="ndm:distanceType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The minimum altitude value defining this volume.Altitude(km) over the surface of the Earth. WGS84 reference ellipsoid, mean radius of equator 6378.137km, flattening coefficient 1./298.257223563&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maximumAltitude" type="ndm:distanceType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The maximum altitude value defining this volume.Altitude(km) over the surface of the Earth. WGS84 reference ellipsoid, mean radius of equator 6378.137km, flattening coefficient 1./298.257223563&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maximumLatitude" type="eCCSDS:LatitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The maximum latitude value defining this volume.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maximumLongitude" type="eCCSDS:LongitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The maximum longitude value defining this volume.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minimumLatitude" type="eCCSDS:LatitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The minimum latitude value defining this volume.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minimumLongitude" type="eCCSDS:LongitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The minimum longitude value defining this volume.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AbstractPerformances">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;The base class for all performances used in the system.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="date" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Date the constant is defined.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AbstractRequest">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;The base class for all requests generated in the system.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="user" type="comsst:User" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;User submitting the request.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdverseWeatherConditionsType">
		<xsd:sequence>
			<xsd:element name="weatherOption" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag indicating whether adverse weather conditions are considered in simulation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="weatherFile" type="com:InformationData">
				<xsd:annotation>
					<xsd:documentation>File that contains information about the adverse weather intervals</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Availability">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Groups properties pertaining to the control of performances relating to availability and integrity.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="com:AbstractPerformances">
				<xsd:sequence>
					<xsd:element name="serviceAvailability" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The availability of the service. Value is a percentage.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="maximumDownTime" type="com:Delay">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The maximum contiguous down time of the service.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="foreseenUnavailabilityNoticeDelay" type="com:Delay">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The delay before which users shall be informed in advance of a foreseen service unavailability.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="unforeseenUnavailabilityNoticeDelay" type="com:Delay">
						<xsd:annotation>
							<xsd:documentation>&lt;p&gt;The delay before which users shall be informed after the appearance of the contingency of an unforeseen service unavailability.&lt;/p&gt;</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Delay">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents an amount of time.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="length" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;The duration of the delay expressed in seconds.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DynamicModelType">
		<xsd:sequence>
			<xsd:element name="tfirst" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>initial epoch, mjd200,terrestrial time, mean earth equator of date </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isun" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Sun third body perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="imoon" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Moon third body perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="relrerr" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>relative accuracy of numerical propagatoin</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hmin" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>minimum altitude above central body surface (km)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="iven" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Venus third body perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="imar" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Mars third body perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ijup" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Jupiter third body perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ialb" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for earth albedo and infrared radiation pressure perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itid" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Earth solid tides perturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="irel" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for Earth general relativity: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="iradi" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for solar radiation pressure: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nzonal" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Number of zonal coefficients to consider</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ntess" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Number of tesseral coefficients to consider</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="idrag" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Flag for atmospheric dragperturbation: True=Considered. False=Not considered</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ncb" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>code number of central body (see epheme for definition)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="erpfilea" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>path to earth rotation parameters file A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="erpfilered" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>path to earth rotation parameters file red</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="atmopfile" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>path to atmospheric parameters file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ephem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>path to ephemeris file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="egm96" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>path to earth egm96 gravitational field model, old status </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="EllipsoidEnum">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WGS-84"/>
			<xsd:enumeration value="PZ-90"/>
			<xsd:enumeration value="GRS-80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrameEnum">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Enumeration of existing Frames.&lt;/p&gt;&lt;p&gt;Values inserted can be {0,'EME2000'}, {1,'GCRF'}, {2,'GRC'}, {3,'ICRF'}, {4,'ITRF2000'}, {5,'ITRF-93'}, {6,'ITRF-97'}, {7,'MCI'}, {8,'RSW'}, {9,'RTN'}, {10,'TDR'}, {11,'TEME'}, {12,'TNW'}, {13,'TOD'}.&lt;/p&gt;&lt;p&gt;Values are:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;EME2000 (or J2000): Earth's Mean Equator and Equinox at 12:00 Terrestrial Time on 1 January 2000;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;GCRF: Geocentric Celestial Reference Frame;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;GRC: Greenwich Rotating Coordinates;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;ICRF: International Celestial Reference Frame;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;ITRF: International Terrestrial Reference Frame;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;MCI: Mars Centered Inertial;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;RSW: Another name for ‘Radial, Transverse, Normal’;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;RTN: Radial, Transverse, Normal;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TDR: True of Date, Rotating;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TEME: True Equator Mean Equinox;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TNW: A local orbital coordinate frame that has the x-axis along the velocity vector, W along the orbital angular momentum vector, and N completes the right handed system;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TOD: True Of Date.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EME2000"/>
			<xsd:enumeration value="GCRF"/>
			<xsd:enumeration value="GRC"/>
			<xsd:enumeration value="ICRF"/>
			<xsd:enumeration value="ITRF2000"/>
			<xsd:enumeration value="ITRF-93"/>
			<xsd:enumeration value="ITRF-97"/>
			<xsd:enumeration value="MCI"/>
			<xsd:enumeration value="RSW"/>
			<xsd:enumeration value="RTN"/>
			<xsd:enumeration value="TDR"/>
			<xsd:enumeration value="TEME"/>
			<xsd:enumeration value="TNW"/>
			<xsd:enumeration value="TOD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GeodeticPosition">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Geodetic position (geodetic latitude, geodetic longitude, geodetic altitude), expressed in an ECEF frame.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="date" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Epoch of the geodetic position. UTC Date.Format: yyyy-dddThh:mm:ss.d*-&amp;gt;dZ&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frame" type="com:FrameEnum">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;ECEF frame to use.&lt;/p&gt;&lt;p&gt;Values inserted here can be: “EME2000”, “GCRF”, “GRC”, “ICRF”, “ITRF2000”, “ITRF-93”, “ITRF-97”, “MCI”, “RSW”, “RTN”, “TDR”, “TEME”, “TNW”, “TOD”.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="latitude" type="eCCSDS:LatitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Latitude of the position, from -90º to 90º &lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="longitude" type="eCCSDS:LongitudeAngleType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Longitude of the position, from -180º to 180º &lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ellipsoid" type="com:EllipsoidEnum">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Ellipsoid shape to use.&lt;/p&gt;&lt;p&gt;Values inserted here can be: “WGS-84”, “PZ-90”, “GRS-80”.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="height" type="eCCSDS:HeightType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Altitude of the position.km. Altitude over the surface of the Earth. WGS84 reference ellipsoid, mean radius of equator 6378.137km, flattening coefficient  1./298.257223563&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="magTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="APPARENT"/>
			<xsd:enumeration value="apparent"/>
			<xsd:enumeration value="ABSOLUTE"/>
			<xsd:enumeration value="absolute"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MeanElementsPatternType">
		<xsd:sequence>
			<xsd:element name="semiMajorAxis" type="com:PatternType"/>
			<xsd:element name="inclination" type="com:PatternType"/>
			<xsd:element name="eccentricity" type="com:PatternType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObservationRequestListType">
		<xsd:sequence>
			<xsd:element name="SensorID" type="xsd:long"/>
			<xsd:element name="OverlapingFlag" type="xsd:boolean"/>
			<xsd:element name="ObservationRequest" type="com:ObservationRequestType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObservationRequestType">
		<xsd:sequence>
			<xsd:element name="observationType" type="com:SegmentType"/>
			<xsd:element name="ssaID" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The object ID hadled by ESA. It is required if
						no internationalID is provided
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="internationalID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The international object ID (for SST:
						cosparID,for NEO objects: sequential number for
						confirmed objects or codename for unconfirmed
						objects). If SSA object ID is provided,
						internationalID is not required
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ephemeridesParametersType" type="cateph:Ephemeredes">
				<xsd:annotation>
					<xsd:documentation>Ephemerides must follow OD-OEM++ format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="exposureTime" type="xsd:double"/>
			<xsd:element name="initialTime" type="ndm:epochType"/>
			<xsd:element name="endTime" type="ndm:epochType"/>
			<xsd:element name="mode" type="comsenoconf:TrackingModeEnum" minOccurs="0"/>
			<xsd:element name="SequenceNr" type="xsd:int" form="qualified"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="OriginatorsEnum">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Enumeration of Originators Agencies.&lt;/p&gt;&lt;p&gt;Values inserted can be {0,'CNES'}, {1,'ESOC'}, {2,'GSFC'}, {3,'GSOC'}, {4,'INMARSAT/UK'}, {5,'INTELSAT/USA'}, {6,'JAXA'}, {7,'JPL'}, {8,'USAF'}.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CNES"/>
			<xsd:enumeration value="ESOC"/>
			<xsd:enumeration value="GSFC"/>
			<xsd:enumeration value="GSOC"/>
			<xsd:enumeration value="INMARSAT/UK"/>
			<xsd:enumeration value="INTELSAT/USA"/>
			<xsd:enumeration value="JAXA"/>
			<xsd:enumeration value="JPL"/>
			<xsd:enumeration value="USAF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Owner">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Owner organization and contact of the sensor. &lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idOwner" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organization" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Organization name.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quality" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Quality of the contact who operates the sensor ('Mr', 'Mrs'...).&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Name of the contact who operates the sensor.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;First name of the contact who operates the sensor.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mail" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;E-Mail of the contact who operates the sensor.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Phone number of the contact who operates the sensor.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="updateDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Update date of the information. UTC time-frame.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PatternType">
		<xsd:sequence>
			<xsd:element name="mean" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>mean value</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="max" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>max value</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="min" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>minvalue</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RangeType">
		<xsd:sequence>
			<xsd:element name="minimum" type="xsd:double"/>
			<xsd:element name="maximum" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NonNegativeRangeType">
		<xsd:sequence>
			<xsd:element name="minimum" type="ndm:nonNegativeDouble"/>
			<xsd:element name="maximum" type="ndm:nonNegativeDouble"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpaceRegion">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Define the space regions associated with the apogee and perigee altitudes of each region.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IdRegion" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="labelRegion" type="com:SpaceRegionsEnum">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Space region label (LEO, MEO, GEO, ...).&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="perigeeAltitude" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Perigee altitude the objects are located in the space region.  Unit is km.Altitude(km) over the surface of the Earth. WGS84 reference ellipsoid, mean radius of equator 6378.137km, flattening coefficient 1./298.257223563&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="apogeeAltitude" type="ndm:distanceType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Apogee altitude the objects are located in the space region. Altitude the density is valid.Altitude(km) over the surface of the Earth. WGS84 reference ellipsoid, mean radius of equator 6378.137km, flattening coefficient 1./298.257223563&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SpaceRegionsEnum">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Enumeration of Space Regions.Values can be: {0,GEO},{1,LEO},{2,MEO},{3,NEO}&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LEO"/>
			<xsd:enumeration value="MEO"/>
			<xsd:enumeration value="GEO"/>
			<xsd:enumeration value="NEO"/>
			<xsd:enumeration value="Transient in LEO/MEO"/>
			<xsd:enumeration value="Transient in MEO/GEO"/>
			<xsd:enumeration value="Transient in LEO/MEO/GEO"/>
			<xsd:enumeration value="Transient above GEO"/>
			<xsd:enumeration value="OTH"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TimeRange">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Represents a time period ranging from a begin date to an end date.&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="beginDate" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;Start date of the time range. UTC Date.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>&lt;p&gt;End date of the time range. UTC Date.&lt;/p&gt;</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TimeSystemEnum">
		<xsd:annotation>
			<xsd:documentation>&lt;p&gt;Enumeration of Time Systems usable.&lt;/p&gt;&lt;p&gt;Values inserted can be {0,'GMST'}, {1,'GPS'}, {2,'MET'}, {3,'MRT'}, {4,'SCLK'}, {5,'TAI'}, {6,'TCB'}, {7,'TCG'}, {8,'TDB'}, {9,'TT'}, {10,'UT1'}, {11,'UTC'}.&lt;/p&gt;&lt;p &gt;Values are:&lt;/p&gt;&lt;ul &gt;&lt;li &gt;&lt;p &gt;GMST: Greenwich Mean Sidereal Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;GPS: Global Positioning System;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;MET: Mission Elapsed Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;MRT: Mission Relative Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;SCLK: Spacecraft Clock (receiver);&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TAI: International Atomic Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TCB: Barycentric Coordinate Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TCG: Geocentric Coordinate Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TDB: Barycentric Dynamical Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;TT: Terrestrial Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;UT1: Universal Time;&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;UTC: Coordinated Universal Time.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GMST"/>
			<xsd:enumeration value="GPS"/>
			<xsd:enumeration value="MET"/>
			<xsd:enumeration value="MRT"/>
			<xsd:enumeration value="SCLK"/>
			<xsd:enumeration value="TAI"/>
			<xsd:enumeration value="TCB"/>
			<xsd:enumeration value="TCG"/>
			<xsd:enumeration value="TDB"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="UT1"/>
			<xsd:enumeration value="UTC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ObjectRef">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MissionRef">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FragmentationEventRef">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectReEntryRef">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReEntryPredictionMessageRef">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObservationCampaignRef">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="UpdatedByType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PROPAGATION"/>
			<xsd:enumeration value="OBSERVATION"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
