templates/commonSSTDataModel/esa/ssa/sst/catalogue/ephemeredes/ephemeredes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns:cateph="http://esa.ssa.sst/2.1/catalogue/ephemeredes/"
	xmlns:catobj="http://esa.ssa.sst/2.1/catalogue/object/"
	xmlns:com="http://esa.ssa.sst/2.1/common/"
	xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://esa.ssa.sst/2.1/catalogue/ephemeredes/"
	xmlns:catperfa="http://esa.ssa.sst/2.1/catalogue/performances/accuracy/"
	xmlns:omc="http://esa.ssa.sst/2.1/omc/"
	xmlns:eCCSDS="http://esa.ssa.sst/2.1/CCSDS/">
	<xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/object/"
		schemaLocation="../object/object.xsd" />
	<xsd:import namespace="http://esa.ssa.sst/2.1/common/"
		schemaLocation="../../common/common.xsd" />
	<xsd:import schemaLocation="../performances/accuracy/accuracy.xsd"
		namespace="http://esa.ssa.sst/2.1/catalogue/performances/accuracy/">
	</xsd:import>
	<xsd:import schemaLocation="../../omc/omc.xsd"
		namespace="http://esa.ssa.sst/2.1/omc/">
	</xsd:import>
	<xsd:import schemaLocation="../../extendedCCSDS/extendedCCSDS.xsd"
		namespace="http://esa.ssa.sst/2.1/CCSDS/">
	</xsd:import>
	<xsd:import schemaLocation="../../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd" namespace="urn:ccsds:recommendation:navigation:schema:ndmxml"></xsd:import>
	<xsd:complexType name="KeplerStandardDeviation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Standard deviations for the Keplerian
				elements.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cateph:AbstractStandardDeviation">
				<xsd:sequence>
					<xsd:element name="sigmaRMSa" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the semi
								major axis. Unit is kilometer.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSe" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the
								eccentricity. Unit: dimension
								less.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSi" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the
								inclination. Unit is radian.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSraan"
						type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the Right
								Ascension of the Ascending Node. Unit is
								radian.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSomega"
						type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the
								perigee argument. Unit is
								radian.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSemv" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of mean
								anomaly or eccentric anomaly or the true
								anomaly. Unit is radian.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CartesianStandardDeviation">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Standard deviation of positions and velocities
				expressed in a Cartesian frame.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cateph:AbstractStandardDeviation">
				<xsd:sequence>
					<xsd:element name="sigmaRMSx" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the
								radial component. Unit Meter.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSy" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the
								transversal component. Unit
								Meter.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSz" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard deviation of the out
								of plane component. Unit
								Meter.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSdx" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;&lt;span
								style="font-family:Tahoma;"&gt;Standard
								velocity deviation for the radial
								component. Unit Meter per
								Second.&lt;/span&gt;&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSdy" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard velocity deviation for
								the transversal component. Unit Meter
								per Second.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sigmaRMSdz" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>
								&lt;p&gt;Standard velocity deviation for
								the out of plane component. Unit Meter
								per Second.&lt;/p&gt;
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AbstractStandardDeviation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;Abstract element grouping characteristics
				common to standard deviations.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Unique number identifying this
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="epoch" type="ndm:epochType">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Epoch of determination of the
						deviations. UTC time-frame.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frame" type="com:FrameEnum">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;The frame used to determine the
						product. It can be for example OCRF, EC-EF or
						others ...&lt;/p&gt;&lt;p&gt;&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccuracyInPositionType">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;&lt;/p&gt;&lt;p&gt;The orbit information
				provided by the system comes with limited but define
				accuracy, which is derived from the orbit determination
				process in the form of a covariance. As a matter of
				fact, the covariance is time dependent and degrades as
				time progresses away from the orbit determination epoch.
				The covariance can thus be perceived as a time-dependent
				statistical error of Gaussian nature. A suitable measure
				of the covariance is thus the 1-sigma error in the three
				OCRF positional and the three OCRF velocity
				components.&lt;/p&gt;&lt;p&gt;The concept of an accuracy
				envelope foresees a limit for the 1-sigma error for all
				six dimensions. For any provided data set, the
				covariance information delivered with it will violate
				that envelope at a certain epoch in the future of the
				orbit determination epoch at the 1-sigma level. The
				principal idea is that the user shall be notified once
				the 1-sigma uncertainty estimate (covariance) violate
				the envelope in at least one dimension, and, that the
				segment is expected to provide a new data set at least
				48h before the envelope is violated for the first
				time.&lt;/p&gt;&lt;p&gt;The accuracy envelope process is
				therefore driving the frequency in which orbital data
				sets are to be updated by the system and connected with
				it, the initial accuracy that the orbital data sets must
				have (also in compliance to the accuracy requirements),
				as the covariance evolution is a function of the initial
				covariance.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idEnveloppe" type="xsd:long"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Unique number identifying this
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaUAccuracy" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;1-sigma error for the position
						component along axis U in the OCRF. Unit
						Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaVAccuracy" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;1-sigma error for the position
						component along axis V in the OCRF. Unit
						Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaWAccuracy" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;1-sigma error for the position
						component along axis W in the OCRF. Unit
						Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccuracyLimitsType">
		<xsd:annotation>
			<xsd:documentation>
				&lt;p&gt;&lt;/p&gt;&lt;p&gt;The orbit information
				provided by the system comes with limited but define
				accuracy, which is derived from the orbit determination
				process in the form of a covariance. As a matter of
				fact, the covariance is time dependent and degrades as
				time progresses away from the orbit determination epoch.
				The covariance can thus be perceived as a time-dependent
				statistical error of Gaussian nature. A suitable measure
				of the covariance is thus the 1-sigma error in the three
				OCRF positional and the three OCRF velocity
				components.&lt;/p&gt;&lt;p&gt;The concept of an accuracy
				envelope foresees a limit for the 1-sigma error for all
				six dimensions. For any provided data set, the
				covariance information delivered with it will violate
				that envelope at a certain epoch in the future of the
				orbit determination epoch at the 1-sigma level. The
				principal idea is that the user shall be notified once
				the 1-sigma uncertainty estimate (covariance) violate
				the envelope in at least one dimension, and, that the
				segment is expected to provide a new data set at least
				48h before the envelope is violated for the first
				time.&lt;/p&gt;&lt;p&gt;The accuracy envelope process is
				therefore driving the frequency in which orbital data
				sets are to be updated by the system and connected with
				it, the initial accuracy that the orbital data sets must
				have (also in compliance to the accuracy requirements),
				as the covariance evolution is a function of the initial
				covariance.&lt;/p&gt;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idEnveloppe" type="xsd:long"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;Unique number identifying this
						object.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaUAccuracy" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;1-sigma error for the position
						component along axis U in the OCRF. Unit
						Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaVAccuracy" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;1-sigma error for the position
						component along axis V in the OCRF. Unit
						Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sigmaWAccuracy" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
						&lt;p&gt;1-sigma error for the position
						component along axis W in the OCRF. Unit
						Meter.&lt;/p&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ephemeredes">
		<xsd:sequence>
		    <xsd:element name="type" type="catobj:ObjectTypeEnum" />
		    <xsd:element name="oem" type="ndm:oemType" />
		    <xsd:element name="opm" type="ndm:opmType" />
		    <xsd:element name="includesThirdPartyData"
		        type="xsd:boolean">
		        <xsd:annotation>
		            <xsd:documentation>
		                Flag indicating if information is from third
		                parties (orbit and/or maneuver
		            </xsd:documentation>
		        </xsd:annotation>
		    </xsd:element>
		    <xsd:element name="origin" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
				  Origin of the orbit information, 
				  in case of third party data it will be the data provider
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		    <xsd:element name="updatedBy" type="com:UpdatedByType">
		    </xsd:element>
		    <xsd:element name="orbitDeterminationEpoch"
		        type="ndm:epochType">
		    </xsd:element>
		    <xsd:element name="sigmaRMS" type="ndm:stateVectorType">
		        <xsd:annotation>
		            <xsd:documentation>
		                Time tagged 1-sigma RMS positional and velocity
		                uncertainty information in the OCRF
		            </xsd:documentation>
		        </xsd:annotation>
		    </xsd:element>
		    <xsd:element name="isAccuracyEnvelopeViolated"
		        type="xsd:boolean">
		        <xsd:annotation>
		            <xsd:documentation>
		                Flag indicating whether the accuracy envelope is
		                violated
		            </xsd:documentation>
		        </xsd:annotation>
		    </xsd:element>
		    <xsd:element name="AccuracyEnvelopeViolationEpoch"
		        type="ndm:epochType">
		    </xsd:element>
		    <xsd:element name="publicationDate" type="ndm:epochType">
		        <xsd:annotation>
		            <xsd:documentation>
		                Publication date of the subsequent data set
		            </xsd:documentation>
		        </xsd:annotation>
		    </xsd:element>
		    <xsd:element name="AccuracyEnvelope"
		        type="catperfa:AbstractAccuracyEnvelope">
		    </xsd:element>
		    <xsd:element name="maneuverFlag"
		        type="omc:ManeuverFlagType">
		    </xsd:element>
		    <xsd:element name="covarianceMatrixParameters"
		        type="eCCSDS:CovarianceMatrixParametersType">
		    </xsd:element>
		    <xsd:element name="id" type="xsd:long"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
