templates/SST_Core/DPC/dpc-1.7-wsdl/OrbitPropagationService/Wsdl/OrbitPropagationServiceSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ssa="http://ssa.esa.int/common/" xmlns:tns="http://esa.ssa/dpc/2.1/OrbitPropagationServiceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dpc="http://esa.ssa/dpc/2.1/dpc" xmlns:setupreq="http://esa.ssa/dpc/2.1/SetupDynamicModelRequestType" xmlns:setupres="http://esa.ssa/dpc/2.1/SetupDynamicModelResponseType" xmlns:propreq="http://esa.ssa/dpc/2.1/PropagateRequestType" xmlns:propres="http://esa.ssa/dpc/2.1/PropagateResponseType" xmlns:propsvreq="http://esa.ssa/dpc/2.1/PropagateStateVectorRequestType" xmlns:propsvres="http://esa.ssa/dpc/2.1/PropagateStateVectorResponseType" xmlns:ctranreq="http://esa.ssa/dpc/2.1/ComputeTransitionMatrixRequestType" xmlns:ctranres="http://esa.ssa/dpc/2.1/ComputeTransitionMatrixResponseType" xmlns:pcovreq="http://esa.ssa/dpc/2.1/PropagateCovarianceMatrixRequestType" xmlns:pcovres="http://esa.ssa/dpc/2.1/PropagateCovarianceMatrixResponseType" xmlns:intsvreq="http://esa.ssa/dpc/2.1/InterpolateStateVectorRequestType" xmlns:intsvres="http://esa.ssa/dpc/2.1/InterpolateStateVectorResponseType" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="dpc" targetNamespace="http://esa.ssa/dpc/2.1/OrbitPropagationServiceSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="http://esa.ssa/dpc/2.1/OrbitPropagationServiceSchema" version="1.0">
			<xsd:import namespace="http://esa.ssa/dpc/2.1/dpc" schemaLocation="../../DPCCommonTypes/dpc.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SetupDynamicModelRequestType" schemaLocation="../Schemas/SetupDynamicModelRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/SetupDynamicModelResponseType" schemaLocation="../Schemas/SetupDynamicModelResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PropagateRequestType" schemaLocation="../Schemas/PropagateRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PropagateResponseType" schemaLocation="../Schemas/PropagateResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PropagateStateVectorRequestType" schemaLocation="../Schemas/PropagateStateVectorRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PropagateStateVectorResponseType" schemaLocation="../Schemas/PropagateStateVectorResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/ComputeTransitionMatrixRequestType" schemaLocation="../Schemas/ComputeTransitionMatrixRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/ComputeTransitionMatrixResponseType" schemaLocation="../Schemas/ComputeTransitionMatrixResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PropagateCovarianceMatrixRequestType" schemaLocation="../Schemas/PropagateCovarianceMatrixRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/PropagateCovarianceMatrixResponseType" schemaLocation="../Schemas/PropagateCovarianceMatrixResponseType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/InterpolateStateVectorRequestType" schemaLocation="../Schemas/InterpolateStateVectorRequestType.xsd"/>
			<xsd:import namespace="http://esa.ssa/dpc/2.1/InterpolateStateVectorResponseType" schemaLocation="../Schemas/InterpolateStateVectorResponseType.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OrbitPropagationServiceFaultMessageType">
		<wsdl:part name="fault" element="dpc:DPCErrorType"/>
	</wsdl:message>
	<wsdl:message name="PropagateRequestMessageType">
		<wsdl:part name="in" element="propreq:PropagateRequestType"/>
	</wsdl:message>
	<wsdl:message name="PropagateResponseMessageType">
		<wsdl:part name="out" element="propres:PropagateResponseType"/>
	</wsdl:message>
	<wsdl:message name="SetupDynamicModelRequestMessageType">
		<wsdl:part name="in" element="setupreq:SetupDynamicModelRequestType"/>
	</wsdl:message>
	<wsdl:message name="SetupDynamicModelResponseMessageType">
		<wsdl:part name="out" element="setupres:SetupDynamicModelResponseType"/>
	</wsdl:message>
	<wsdl:message name="PropagateStateVectorRequestMessageType">
		<wsdl:part name="in" element="propsvreq:PropagateStateVectorRequestType"/>
	</wsdl:message>
	<wsdl:message name="PropagateStateVectorResponseMessageType">
		<wsdl:part name="out" element="propsvres:PropagateStateVectorResponseType"/>
	</wsdl:message>
	<wsdl:message name="ComputeTransitionMatrixRequestMessageType">
		<wsdl:part name="in" element="ctranreq:ComputeTransitionMatrixRequestType"/>
	</wsdl:message>
	<wsdl:message name="ComputeTransitionMatrixResponseMessageType">
		<wsdl:part name="out" element="ctranres:ComputeTransitionMatrixResponseType"/>
	</wsdl:message>
	<wsdl:message name="PropagateCovarianceMatrixRequestMessageType">
		<wsdl:part name="in" element="pcovreq:PropagateCovarianceMatrixRequestType"/>
	</wsdl:message>
	<wsdl:message name="PropagateCovarianceMatrixResponseMessageType">
		<wsdl:part name="out" element="pcovres:PropagateCovarianceMatrixResponseType"/>
	</wsdl:message>
	<wsdl:message name="InterpolateStateVectorRequestMessageType">
		<wsdl:part name="in" element="intsvreq:InterpolateStateVectorRequestType"/>
	</wsdl:message>
	<wsdl:message name="InterpolateStateVectorResponseMessageType">
		<wsdl:part name="out" element="intsvres:InterpolateStateVectorResponseType"/>
	</wsdl:message>
	<wsdl:portType name="OrbitPropagationServiceInterface">
		<!--propagate-->
		<wsdl:operation name="propagate">
			<wsdl:input message="tns:PropagateRequestMessageType"/>
			<wsdl:output message="tns:PropagateResponseMessageType"/>
			<wsdl:fault name="propagateFault" message="tns:OrbitPropagationServiceFaultMessageType"/>
		</wsdl:operation>
		<!--setupDynamicModel-->
		<wsdl:operation name="setupDynamicModel">
			<wsdl:input message="tns:SetupDynamicModelRequestMessageType"/>
			<wsdl:output message="tns:SetupDynamicModelResponseMessageType"/>
			<wsdl:fault name="setupDynamicModelFault" message="tns:OrbitPropagationServiceFaultMessageType"/>
		</wsdl:operation>
		<!--propagateStateVector-->
		<wsdl:operation name="propagateStateVector">
			<wsdl:input message="tns:PropagateStateVectorRequestMessageType"/>
			<wsdl:output message="tns:PropagateStateVectorResponseMessageType"/>
			<wsdl:fault name="propagateStateVectorFault" message="tns:OrbitPropagationServiceFaultMessageType"/>
		</wsdl:operation>
		<!--computeTransitionMatrix-->
		<wsdl:operation name="computeTransitionMatrix">
			<wsdl:input message="tns:ComputeTransitionMatrixRequestMessageType"/>
			<wsdl:output message="tns:ComputeTransitionMatrixResponseMessageType"/>
			<wsdl:fault name="computeTransitionMatrixFault" message="tns:OrbitPropagationServiceFaultMessageType"/>
		</wsdl:operation>
		<!--propagateCovarianceMatrix-->
		<wsdl:operation name="propagateCovarianceMatrix">
			<wsdl:input message="tns:PropagateCovarianceMatrixRequestMessageType"/>
			<wsdl:output message="tns:PropagateCovarianceMatrixResponseMessageType"/>
			<wsdl:fault name="propagateCovarianceMatrixFault" message="tns:OrbitPropagationServiceFaultMessageType"/>
		</wsdl:operation>
		<!--interpolateStateVector-->
		<wsdl:operation name="interpolateStateVector">
			<wsdl:input message="tns:InterpolateStateVectorRequestMessageType"/>
			<wsdl:output message="tns:InterpolateStateVectorResponseMessageType"/>
			<wsdl:fault name="interpolateStateVectorFault" message="tns:OrbitPropagationServiceFaultMessageType"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
