templates/commonSSTDataModel/esa/ssa/sst/catalogue/performances/performances.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://esa.ssa.sst/2.1/catalogue/performances/" xmlns:catperf="http://esa.ssa.sst/2.1/catalogue/performances/" xmlns:catperfa="http://esa.ssa.sst/2.1/catalogue/performances/accuracy/" xmlns:com="http://esa.ssa.sst/2.1/common/" xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:ccsds:recommendation:navigation:schema:ndmxml" schemaLocation="../../../../../CCSDS/ndmxml-1.0-namespace-1.1.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/catalogue/performances/accuracy/" schemaLocation="accuracy/accuracy.xsd"/>
  <xsd:import namespace="http://esa.ssa.sst/2.1/common/" schemaLocation="../../common/common.xsd"/>
  <xsd:complexType name="SimpleCoverageProbabilityConstants">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;The parameters for the catalogue coverage probability computations.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pCoverage" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Coverage probability the SST shall assume for detection of related size objects.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dref" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reference size of objects that shall be detected. Unit in meters.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PopulationCoveragePerformances">
    <xsd:complexContent>
      <xsd:extension base="com:AbstractPerformances">
        <xsd:sequence>
          <xsd:element name="objectSize" type="xsd:double">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The minimum size of objects to be catalogued, expressed as an albedo (no unit).&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="catalogueCoverageMinimumThreshold" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The minimum threshold above which the system shall provide catalogue coverage of all objects that have the potential to produce catastrophic disruption of European space-based  assets. Value is a percentage.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="leoCoverageProbability1" type="catperf:AdvancedCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The catalogue coverage probability Pcov of all LEO resident objects above the perigee-altitude-dependent (hp) diameter envelope (dmin).&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="minimumLeoCoverageProbability" type="xsd:double">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The minimum probability for coverage in the sense of the catalogue population coverage service.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="leoCoverageProbability2" type="catperf:AdvancedCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The catalogue coverage probability Pcov of all LEO resident objects above the perigee-altitude-dependent (hp) diameter envelope (dmin).&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="leoTransienLowerMeoCoverageProbability1" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for catalogue coverage the system shall guarantee for all LEO transient objects with defined size and apogee altitudes above the lower MEO region.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="leoTransienLowerMeoCoverageProbability2" type="catperf:AdvancedCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The catalogue coverage probability Pcov for all LEO transient objects above the perigee-altitude-dependent (hp) diameter envelope (dmin) and for apogee altitudes inside of the lower MEO region.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="leoTransientCoverageProbability" type="catperf:AdvancedCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The catalogue coverage probability Pcov of all LEO transient objects above the perigee-altitude-dependent (hp) diameter envelope (dmin) envelope.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperMeoCoverageProbability1" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper MEO resident objects of bigger size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperMeoCoverageProbability2" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper MEO resident objects of smaller size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperMeoTransientCoverageProbability1" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper MEO transient objects of bigger size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperMeoTransientCoverageProbability2" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper MEO transient objects of smaller size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperGeoCoverageProbability1" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper GEO resident objects of bigger size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperGeoCoverageProbability2" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper GEO resident objects of smaller size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperGeoTransientCoverageProbability1" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper GEO transient objects of bigger size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="upperGeoTransientCoverageProbability2" type="catperf:SimpleCoverageProbabilityConstants">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The probability for coverage for all upper GEO transient objects of smaller size.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DataRetrievalPerformances">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Groups properties pertaining to the control of performances for the data retrieval.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:AbstractPerformances">
        <xsd:sequence>
          <xsd:element name="concurrentRequestsLimit" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The maximum number of simultaneous user requests that the system shall be able to process at any time.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dataAccessResponseTime" type="xsd:double">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The response time to retrieve any kind of database content after issuing a search request. Unit is s/MByte.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CataloguePerformances">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Groups properties pertaining to the control of performances for the catalogue service.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:AbstractPerformances">
        <xsd:sequence>
          <xsd:element name="availability" type="catperf:CatalogueAvailability">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The availability properties of the catalogue service.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="initializationPerformances" type="catperf:CatalogueInitializationPerformances">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The initialization performances of the catalogue service.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dataRetrievalPerformances" type="catperf:DataRetrievalPerformances">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The data retrieval performances of the catalogue service.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="populationCoveragePerformances" type="catperf:PopulationCoveragePerformances"/>
          <xsd:element name="catalogueAccuracy" type="catperfa:CatalogueAccuracy">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The accuracy properties of the catalogue service.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CatalogueInitializationPerformances">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Groups properties pertaining to the control of performances for the catalogue initialisation.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:AbstractPerformances">
        <xsd:sequence>
          <xsd:element name="leoTransientDetectionDelay" type="com:Delay">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The delay after the release/insertion before which shall be detected and catalogued newly launched objects transiting LEO or single objects released from catalogued objects in LEO transient.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="leoResidentDetectionDelay" type="com:Delay">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The delay after the release/insertion before which shall be detected and catalogued newly launched objects in LEO residence or single objects released from resident catalogued objects in LEO.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="meoResidentDetectionDelay" type="com:Delay">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The delay after the release/insertion before which shall be detected and catalogued newly launched objects in upper-MEO residence or transient objects, or single objects released from catalogued objects in upper-MEO resident or transient.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="geoResidentDetectionDelay" type="com:Delay">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The delay after the release/insertion before which shall be detected and catalogued newly launched objects in GEO residence or transient objects or single objects released from catalogued objects in GEO resident or transient.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CatalogueAvailability">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Groups properties pertaining to the control of performances relating to catalogue availability and integrity.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="com:Availability">
        <xsd:sequence>
          <xsd:element name="serviceIntegrityRiskThreshold" type="xsd:double">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;The threshold of the catalogue service integrity risk per OEDS, EGDS and MEDS data set. Dimension less.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdvancedCoverageProbabilityConstants">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;The parameters for the catalogue coverage probability computations.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unique number identifying this object.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pCoverage" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Coverage probability the SST shall assume for detection concerning the different parameters.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hp" type="ndm:distanceType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Perigee altitude distance. Unit is km. Unit is km.Altitude(km) over the surface of the Earth. WGS84 reference ellipsoid, mean radius of equator 6378.137km, flattening coefficient 1./298.257223563&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dmin" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Minimum size of objects that shall be detected. Unit is meter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dref" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reference size of objects that shall be detected. Unit is meter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="href" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Distance the objects must be detected. Unit is km.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>